<header class="header header-three" [ngClass]="{ sticky: sticky === true }">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a id="mobile_btn" href="javascript:void(0);" (click)="toggleSidebar()">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a [routerLink]="routes.home" class="navbar-brand logo scroll-logo">
          <img src="assets/img/interim.png" class="img-fluid" alt="Logo" />
        </a>
        <a [routerLink]="routes.home" class="navbar-brand logo original-logo">
          <img src="assets/img/interim.png" class="img-fluid" alt="Logo" />
        </a>
        <div class="input-group">
          <div class="custom-header-cls">
            <img src="assets/img/icon/dashboard-line.svg" alt="Img" />
            <mat-select
              [(ngModel)]="selectedValue"
              [ngModelOptions]="{ standalone: true }"
              class="select"
              placeholder="Categories"
            >
              @for (data of selectedList; track data) {
              <mat-option [value]="data.value">
                {{ data.value }}
              </mat-option>
              }
            </mat-select>
          </div>
        </div>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a [routerLink]="routes.home" class="menu-logo">
            <img src="assets/img/interim.png" class="img-fluid" alt="Logo" />
          </a>
          <a id="menu_close" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <ul class="main-nav">
          @for (mainMenus of navbar; track mainMenus) { @if
          (mainMenus.separateRoute === true) {
          <li
            [class.active]="base === mainMenus.base"
            routerLinkActive="active"
          >
            <a [routerLink]="mainMenus.route">{{ mainMenus.tittle }}</a>
          </li>
          } @if (mainMenus.separateRoute === false) {
          <li
            class="has-submenu"
            [class.active]="base === mainMenus.base"
            routerLinkActive="active"
          >
            <a
              href="javascript:void(0);"
              (click)="mainMenus.showAsTab = !mainMenus.showAsTab"
              >{{ mainMenus.tittle }} <i class="fas fa-chevron-down"></i
            ></a>
            <ul
              class="submenu"
              [ngClass]="{
                'd-block': mainMenus.showAsTab === true
              }"
            >
              @for (menu of mainMenus.menu; track menu) { @if (menu.hasSubRoute
              === false) {
              <li
                routerLinkActive="active"
                [class.active]="base === menu.base && page === menu.page"
              >
                <a [routerLink]="menu.route">{{ menu.menuValue }}</a>
              </li>
              } @if (menu.hasSubRoute === true) {
              <li
                routerLinkActive="active"
                class="has-submenu"
                [class.active]="page === menu.page"
              >
                <a
                  (click)="menu.showSubRoute = !menu.showSubRoute"
                  [routerLink]="menu.route"
                  >{{ menu.menuValue }}</a
                >
                <ul
                  class="submenu"
                  [ngClass]="{
                    'd-block': menu.showSubRoute === true
                  }"
                >
                  @for (subMenu of menu.subMenus; track subMenu) {
                  <li
                    routerLinkActive="active"
                    [class.active]="
                      base === subMenu.base && page === subMenu.page
                    "
                  >
                    <a [routerLink]="subMenu.route">{{ subMenu.menuValue }}</a>
                  </li>
                  }
                </ul>
              </li>
              } }
            </ul>
          </li>
          } }
        </ul>
      </div>
      <ul class="nav header-navbar-rht">
        <li><a [routerLink]="routes.register" class="log-btn">Register</a></li>
        <li><a [routerLink]="routes.login" class="log-btn"> Login</a></li>
        <li class="searchbar">
          <a href="javascript:void(0);" class="reg-btn" (click)="toggleSearch()"
            ><i class="feather icon-search"></i
          ></a>
          <div
            class="togglesearch"
            [ngClass]="searchIcon === true ? 'd-block' : 'd-none'"
          >
            <form>
              <div class="input-group">
                <input type="text" class="form-control" />
                <button type="submit" class="btn">Search</button>
              </div>
            </form>
          </div>
        </li>
        <li>
          <a href="javascript:void(0);" class="reg-btn"
            ><i class="feather icon-shopping-cart"></i
          ></a>
        </li>
        <li>
          <a [routerLink]="routes.employee_post_project" class="login-btn"
            ><i class="feather icon-plus me-1"></i>Créer Offre
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
