<!-- Footer -->
<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="footer-bottom-logo">
            <a [routerLink]="routes.home" class="menu-logo">
              <img src="assets/img/interim.png" class="img-fluid" alt="Logo" />
            </a>
            <p>
              Nous sommes toujours à la recherche de profils talentueux et
              motivés. N’hésitez pas à vous présenter, votre prochaine mission
              vous attend peut-être ici !
              <span class="d-block">Contactez-nous : +33 1 40 34 10 45</span>
            </p>
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/interim.protech"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visitez notre page Facebook"
                  ><i class="fa-brands fa-facebook-f" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://x.com/Online_Pro_tech"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visitez notre compte X"
                  ><i class="fa-brands fa-twitter" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/interim_protech/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visitez notre compte Instagram"
                  ><i class="fa-brands fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/interim-online-pro-tech/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visitez notre page LinkedIn"
                  ><i class="fa-brands fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
            <a href="mailto:interim.online@gmail.com" class="btn btn-connectus"
              >Contactez-nous</a
            >
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="footer-widget footer-menu">
                <h2 class="footer-title">Liens Utiles</h2>
                <ul>
                  <li>
                    <a [routerLink]="routes.page_about"
                      ><i class="fas fa-angle-right me-1"></i>Á Propos</a
                    >
                  </li>
                  <!-- <li>
                    <a [routerLink]="routes.blog_list"
                      ><i class="fas fa-angle-right me-1"></i>Blog</a
                    >
                  </li> -->
                  <li>
                    <a [routerLink]="routes.login"
                      ><i class="fas fa-angle-right me-1"></i>Se Connecter</a
                    >
                  </li>
                  <li>
                    <a [routerLink]="routes.register"
                      ><i class="fas fa-angle-right me-1"></i>S'inscrire</a
                    >
                  </li>
                  <li>
                    <a [routerLink]="routes.forgot_password"
                      ><i class="fas fa-angle-right me-1"></i>Mot de Passe
                      Oublié</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="footer-widget footer-menu">
                <h2 class="footer-title">Aide &amp; Support</h2>
                <ul>
                  <li>
                    <a href="javascript:void(0);"
                      ><i class="fas fa-angle-right me-1"></i>Espace Clients</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0);"
                      ><i class="fas fa-angle-right me-1"></i>Tableau de Bord</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0);"
                      ><i class="fas fa-angle-right me-1"></i>Créer une Offre</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="footer-widget footer-menu">
                <h2 class="footer-title">Other Links</h2>
                <ul>
                  <li>
                    <a href="javascript:void(0);"
                      ><i class="fas fa-angle-right me-1"></i>Espace candidat</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0);"
                      ><i class="fas fa-angle-right me-1"></i>Tableau de Bord</a
                    >
                  </li>
                  <li>
                    <a [routerLink]="routes.pendingproject"
                      ><i class="fas fa-angle-right me-1"></i>Candidatures</a
                    >
                  </li>
                  <li>
                    <a
                      href="assets/files/RH VIERGE001.pdf"
                      download="RH VIERGE001.pdf"
                    >
                      <i class="fas fa-angle-right me-1"></i>Relevé Heures
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="footer-widget footer-menu">
                <h2 class="footer-title">Restons en Contact</h2>
                <ul>
                  <!-- <li>
                    <a [routerLink]="routes.freelancer_message"
                      ><i class="fas fa-angle-right me-1"></i>Chat</a
                    >
                  </li> -->
                  <li>
                    <a [routerLink]="routes.faq"
                      ><i class="fas fa-angle-right me-1"></i>FAQ</a
                    >
                  </li>
                  <!-- <li>
                    <a [routerLink]="routes.freelancer_review"
                      ><i class="fas fa-angle-right me-1"></i>Reviews</a
                    >
                  </li>
                  <li>
                    <a [routerLink]="routes.privacypolicy"
                      ><i class="fas fa-angle-right me-1"></i>Privacy Policy</a
                    >
                  </li> -->
                  <li>
                    <a [routerLink]="routes.termscondition"
                      ><i class="fas fa-angle-right me-1"></i>CGU</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text text-center">
              <p class="mb-0">
                Copyright {{ date }} © Interim-Online. Tous droits réservés.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->
