<!-- Breadcrumb -->
<div class="bread-crumb-bar">
  <div class="container">
    <div class="row align-items-center inner-banner">
      <div class="col-md-12 col-12 text-center">
        <div class="breadcrumb-list">
          <h3>À propos de Intérim Online Pro-Tech</h3>
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="routes.home"> Accueil</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">À propos</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->
<main>
  <!-- About -->
  <section class="section about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 d-flex align-items-center aos" data-aos="fade-up">
          <div class="about-content">
            <h2>Qui sommes-nous ?</h2>
            <p>
              <strong
                >Votre partenaire de confiance pour le recrutement
                intérimaire</strong
              >
            </p>

            <p>
              Chez <strong>Intérim Online Pro-Tech</strong>, nous sommes une
              <strong>agence d'intérim digitalisée</strong> qui met l'humain au
              cœur de chaque mission. Depuis plus de 20 ans, nous avons combiné
              <strong>expertise sectorielle</strong> et
              <strong>technologies innovantes</strong> pour offrir des solutions
              de <strong>recrutement intérimaire</strong> rapides et fiables.
            </p>

            <p>
              Nous avons su nous adapter aux évolutions du marché en intégrant
              des outils modernes, notamment l'<strong
                >intelligence artificielle (IA)</strong
              >, afin d'assurer un <strong>matching précis</strong> entre les
              <strong>candidats qualifiés</strong> et les
              <strong>offres d'emploi</strong>. Notre plateforme intelligente
              permet un <strong>matching automatisé</strong> qui garantit la
              mise en relation rapide entre <strong>candidats</strong> et
              <strong>entreprises</strong> dans les secteurs du
              <strong>BTP</strong>, de la <strong>logistique</strong>, de
              l'<strong>industrie</strong>, des <strong>services</strong>, ainsi
              que dans le domaine plus récent de
              l'<strong>informatique</strong>.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content-img aos" data-aos="zoom-in">
            <img src="assets/img/aboutus.jpg" class="img-fluid" alt="img" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content-img aos" data-aos="zoom-in">
            <img src="assets/img/aboutus1.jpg" class="img-fluid" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About -->

  <section class="section projects">
    <div class="container">
      <div class="row row-gap">
        <div class="col-md-12 col-sm-12 col-12 mx-auto text-center">
          <div class="section-header aos" data-aos="fade-up">
            <h2 class="header-title">Les avantages de notre plateforme</h2>
            <p>
              Des fonctionnalités conçues pour simplifier et accélérer le
              recrutement intérimaire
            </p>
          </div>
        </div>
        <!-- Feature Item -->
        <div
          class="col-xl-3 col-md-6 aos d-flex"
          data-aos="zoom-in"
          data-aos-duration="1000"
        >
          <div
            class="feature-items d-flex align-items-center justify-content-center flex-column"
          >
            <div class="feature-icon">
              <img
                src="assets/img/icon/great1.svg"
                class="img-fluid"
                alt="Img"
              />
            </div>
            <div class="feature-content course-count text-center">
              <h3>Matching intelligent IA</h3>
              <p>
                Notre moteur d’IA identifie automatiquement les candidats les
                plus pertinents pour chaque mission.
              </p>
            </div>
          </div>
        </div>
        <!-- /Feature Item -->

        <!-- Feature Item -->
        <div
          class="col-xl-3 col-md-6 aos d-flex"
          data-aos="zoom-in"
          data-aos-duration="1500"
        >
          <div
            class="feature-items d-flex align-items-center justify-content-center flex-column"
          >
            <div class="feature-icon">
              <img
                src="assets/img/icon/great2.svg"
                class="img-fluid"
                alt="Img"
              />
            </div>
            <div class="feature-content course-count text-center">
              <h3>Réponse en moins de 24h</h3>
              <p>
                Nos équipes valident les profils rapidement afin que les
                missions démarrent sans délai.
              </p>
            </div>
          </div>
        </div>
        <!-- /Feature Item -->

        <!-- Feature Item -->
        <div
          class="col-xl-3 col-md-6 aos d-flex"
          data-aos="zoom-in"
          data-aos-duration="2000"
        >
          <div
            class="feature-items d-flex align-items-center justify-content-center flex-column"
          >
            <div class="feature-icon">
              <img
                src="assets/img/icon/great3.svg"
                class="img-fluid"
                alt="Img"
              />
            </div>
            <div class="feature-content course-count text-center">
              <h3>Candidats qualifiés et accompagnés</h3>
              <p>
                Chaque candidat est accompagné par un conseiller dédié,
                garantissant un suivi humain.
              </p>
            </div>
          </div>
        </div>
        <!-- /Feature Item -->

        <!-- Feature Item -->
        <div
          class="col-xl-3 col-md-6 aos d-flex"
          data-aos="zoom-in"
          data-aos-duration="2500"
        >
          <div
            class="feature-items d-flex align-items-center justify-content-center flex-column"
          >
            <div class="feature-icon">
              <img
                src="assets/img/icon/great4.svg"
                class="img-fluid"
                alt="Img"
              />
            </div>
            <div class="feature-content course-count text-center">
              <h3>Suivi clair des missions</h3>
              <p>
                Une interface claire pour suivre les candidatures, les
                validations et les missions actives.
              </p>
            </div>
          </div>
        </div>
        <!-- /Feature Item -->
      </div>
    </div>
  </section>

  <section class="section review">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="aos aos-init" data-aos="fade-up">
            <div class="demand-professional">
              <h2>Une expertise sectorielle diversifiée</h2>
              <p>
                Nous avons développé une expertise pointue dans les
                <strong>métiers techniques </strong> et spécialisés, avec une
                forte présence dans les secteurs suivants :
              </p>
            </div>
            <div class="demand-post-job align-items-start">
              <div class="demand-post-img">
                <img
                  src="assets/img/icon/checks.svg"
                  alt="Img"
                  class="img-fluid"
                />
              </div>
              <div class="demand-content">
                <strong>BTP :</strong>
                <p>
                  Nous recrutons des profils pour des
                  <strong>métiers du bâtiment</strong> et des
                  <strong>travaux publics</strong>
                  tels que <strong>maçons</strong>, <strong>plombiers</strong>,
                  <strong>couvreurs</strong>,
                  <strong>conducteurs d'engins</strong>,
                  <strong>chefs de chantier</strong>, etc.
                  <span class="d-block"
                    >Notre expérience sur le terrain nous permet de répondre aux
                    exigences des <strong>chantiers modernes</strong> en
                    France.</span
                  >
                </p>
              </div>
            </div>
            <div class="demand-post-job align-items-start">
              <div class="demand-post-img">
                <img
                  src="assets/img/icon/checks.svg"
                  alt="Img"
                  class="img-fluid"
                />
              </div>
              <div class="demand-content">
                <strong>Industrie :</strong>
                <p>
                  Nous soutenons <strong>l’industrie française</strong> en
                  recrutant des <strong>techniciens</strong>, des
                  <strong>opérateurs</strong>, des <strong>soudeurs</strong>,
                  des <strong>tuyauteurs</strong>, et des
                  <strong>contrôleurs qualité</strong>
                  pour des missions en production, maintenance, et contrôle
                  qualité.
                </p>
              </div>
            </div>
            <div class="demand-post-job align-items-start">
              <div class="demand-post-img">
                <img
                  src="assets/img/icon/checks.svg"
                  alt="Img"
                  class="img-fluid"
                />
              </div>
              <div class="demand-content">
                <strong>Informatique :</strong>
                <p>
                  Récemment, nous avons étendu notre expertise au secteur de
                  <strong>l’informatique</strong>, en recrutant des
                  <strong>développeurs</strong>, des
                  <strong>administrateurs systèmes</strong>, des
                  <strong>experts cloud</strong>, et des
                  <strong>chefs de projet IT</strong>, afin d'accompagner la
                  <strong>transformation digitale</strong> de nos clients.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="work-set-image">
            <div
              class="recent-pro-img aos"
              data-aos="zoom-in"
              data-aos-duration="1000"
            >
              <img
                src="assets/img/abt3.png"
                alt="Img"
                class="img-fluid rounded"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="demand-professional">
        <h2>Un service sur-mesure pour chaque entreprise</h2>
        <p>
          Nous offrons à nos clients une solution
          <strong>de recrutement intérim flexible</strong> et adaptée à leurs
          besoins spécifiques. Les entreprises peuvent
          <strong>passer des annonces</strong>
          directement sur notre plateforme, en toute simplicité, tout en gardant
          <strong>l'anonymat</strong> si elles le souhaitent. Une fois l'annonce
          publiée, notre système d'<strong>IA</strong> s'occupe du
          <strong>matching</strong> pour vous proposer les
          <strong>candidats les plus qualifiés</strong>, garantissant une
          correspondance optimale pour chaque mission.
        </p>
        <p>
          Nous croyons que l’<strong>intégration de l’IA</strong> dans le
          processus de recrutement améliore la précision et la réactivité, tout
          en permettant un gain de temps pour nos partenaires.
        </p>
      </div>
    </div>
  </section>

  <section class="section feature-count feature-count-three">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 mx-auto">
          <div
            class="section-header section-header-three feature-count-head aos"
            data-aos="fade-up"
          >
            <h2 class="header-title">Nos chiffres clés</h2>
            <p>
              Découvrez l'impact de notre plateforme sur le marché de l’intérim
            </p>
          </div>
        </div>
      </div>
      <div class="row section-bottom-cards">
        <!-- Feature Item -->
        <div class="col-xl-3 col-md-6">
          <div class="feature-item freelance-count aos" data-aos="fade-up">
            <div class="feature-icon">
              <img
                src="assets/img/icon/count-icon-01.svg"
                class="img-fluid"
                alt="Img"
              />
            </div>
            <div class="feature-content course-count">
              <h3
                class="counter-up"
                [countUp]="9207"
                [options]="{ duration: 10 }"
              >
                9,207
              </h3>
              <p>Candidats inscrits</p>
            </div>
          </div>
        </div>
        <!-- /Feature Item -->

        <!-- Feature Item -->
        <div class="col-xl-3 col-md-6">
          <div class="feature-item aos" data-aos="fade-up">
            <div class="feature-icon">
              <img
                src="assets/img/icon/count-icon-02.svg"
                class="img-fluid"
                alt="Img"
              />
            </div>
            <div class="feature-content course-count">
              <h3>
                <span
                  class="counter-up"
                  [countUp]="6000"
                  [options]="{ duration: 10 }"
                  >6000</span
                >
              </h3>
              <p>Offres actives</p>
            </div>
          </div>
        </div>
        <!-- /Feature Item -->

        <!-- Feature Item -->
        <div class="col-xl-3 col-md-6">
          <div class="feature-item comp-project aos" data-aos="fade-up">
            <div class="feature-icon">
              <img
                src="assets/img/icon/count-icon-03.svg"
                class="img-fluid"
                alt="Img"
              />
            </div>
            <div class="feature-content course-count">
              <h3
                class="counter-up"
                [countUp]="919207"
                [options]="{ duration: 10 }"
              >
                919,207
              </h3>
              <p>Missions pourvues</p>
            </div>
          </div>
        </div>
        <!-- /Feature Item -->

        <!-- Feature Item -->
        <div class="col-xl-3 col-md-6">
          <div class="feature-item comp-project aos" data-aos="fade-up">
            <div class="feature-icon">
              <img
                src="assets/img/icon/count-icon-04.svg"
                class="img-fluid"
                alt="Img"
              />
            </div>
            <div class="feature-content course-count">
              <h3
                class="counter-up"
                [countUp]="998"
                [options]="{ duration: 10 }"
              >
                998
              </h3>
              <p>Entreprises accompagnées</p>
            </div>
          </div>
        </div>
        <!-- /Feature Item -->
      </div>
    </div>
  </section>

  <!-- Review -->
  <section class="section testimonial-section review review-four">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-header aos text-center" data-aos="fade-up">
            <h2 class="header-title">Ils nous font confiance</h2>
            <p>
              Découvrez les témoignages de nos candidats et entreprises
              partenaires
            </p>
          </div>
        </div>
      </div>
      <owl-carousel-o [options]="customOptions">
        @for (slide of aboutusslides; track slide) {
        <ng-template carouselSlide>
          <div class="review-blog">
            <div class="review-top d-flex align-items-center">
              <div class="review-img">
                <a [routerLink]="'/freelancer/review'"
                  ><img
                    class="img-fluid"
                    src="{{ slide.img }}"
                    alt="Post Image"
                /></a>
              </div>
              <div class="review-info">
                <h3>{{ slide.name }}</h3>
                <h5>{{ slide.officer }}</h5>
              </div>
            </div>
            <div class="review-content">
              <p>{{ slide.para }}</p>
              <div class="rating">
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star"></i>
                <span class="average-rating">{{ slide.rating }}</span>
              </div>
            </div>
          </div>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </section>
  <!-- / Review -->

  <section class="section job-register">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="register-job-blk">
            <div class="job-content-blk aos" data-aos="fade-up">
              <h2>Trouvez votre prochaine mission</h2>
              <p>
                Inscrivez-vous, importez votre CV, et laissez notre IA vous
                proposer les offres qui vous correspondent vraiment.
              </p>
              <a [routerLink]="routes.register" class="btn all-btn"
                >Rejoinez-vous</a
              >
            </div>
            <div class="see-all mt-0 aos opportunity" data-aos="zoom-in">
              <img src="assets/img/job1.png" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
