<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Tableau de Bord</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/admin/dashboard'">Accueil</a>
            </li>
            <li class="breadcrumb-item active">Tableau de Bord</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-md-12">
        <!--/Wizard-->
        <div class="row">
          <div class="col-md-3 d-flex">
            <div class="card wizard-card flex-fill">
              <div class="card-body">
                <p class="text-primary mt-0 mb-2">Candidats</p>
                <h5>{{ totalCandidates }}</h5>
                <p>
                  <a [routerLink]="routes.admin_freelancers_all"
                    >Voir Détails</a
                  >
                </p>
                <span class="dash-widget-icon bg-1">
                  <i class="fas fa-users"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="card wizard-card flex-fill">
              <div class="card-body">
                <p class="text-primary mt-0 mb-2">Projets</p>
                <h5>{{ totalprojects }}</h5>
                <p><a [routerLink]="routes.admin_providers">Voir Détails</a></p>

                <span class="dash-widget-icon bg-1">
                  <i class="fas fa-newspaper"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="card wizard-card flex-fill">
              <div class="card-body">
                <p class="text-primary mt-0 mb-2">Clients</p>
                <h5>{{ totalClients }}</h5>
                <p><a [routerLink]="routes.admin_projects">Voir Détails</a></p>

                <span class="dash-widget-icon bg-1">
                  <i class="fas fa-bezier-curve"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="card wizard-card flex-fill">
              <div class="card-body">
                <p class="text-primary mt-0 mb-2">Candidatures</p>
                <h5>{{ totalCandidatures }}</h5>
                <p><a (click)="ckrollToTable()">Voir Détails</a></p>

                <span class="dash-widget-icon bg-1">
                  <i class="fas fa-address-card"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!--/Wizard-->
        <div class="row">
          <div class="col-lg-12 d-flex">
            <div class="card w-100">
              <div class="card-body pt-0 pb-2">
                <div class="card-header">
                  <h5 class="card-title">Over view</h5>
                </div>
                <div id="chart">
                  <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels"
                    [plotOptions]="chartOptions.plotOptions"
                    [yaxis]="chartOptions.yaxis"
                    [legend]="chartOptions.legend"
                    [fill]="chartOptions.fill"
                    [stroke]="chartOptions.stroke"
                    [tooltip]="chartOptions.tooltip"
                    [xaxis]="chartOptions.xaxis"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="candidatures-table">
      <div class="col-lg-12">
        <div class="card bg-white projects-card">
          <div class="card-body pt-0">
            <div class="card-header d-flex justify-content-between">
              <h5 class="card-title">Candidatures</h5>
              <a href="javascript:" class="btn export-btn me-1">
                <img src="assets/admin/img/export.svg" alt="" /> Exporter
              </a>
            </div>
            <div class="reviews-menu-links">
              <ul
                role="tablist"
                class="nav nav-pills card-header-pills nav-justified"
              >
                <li class="nav-item">
                  <a
                    href="javascript:void(0)"
                    class="nav-link"
                    (click)="filterOffersByStatus(null)"
                    [ngClass]="{ selected: selectedStatus === null }"
                    >Tous ({{ counter }})</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="javascript:void(0)"
                    class="nav-link"
                    (click)="filterOffersByStatus('Recruitment Approved')"
                    [ngClass]="{
                      selected: selectedStatus === 'Recruitment Approved'
                    }"
                    >A Valider ({{ recruitmentApprovedCount }})</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="javascript:void(0)"
                    class="nav-link"
                    (click)="filterOffersByStatus('Applied')"
                    [ngClass]="{ selected: selectedStatus === 'Applied' }"
                  >
                    En Attente ({{ appliedCount }})
                  </a>
                </li>
              </ul>
            </div>

            <div class="tab-content pt-0">
              <div role="tabpanel" id="tab-4" class="tab-pane fade active show">
                <div class="table-responsive">
                  <div class="table_header">
                    <div class="dataTables_length">
                      <label for="entries"> Afficher </label>
                      <select
                        [(ngModel)]="pageSize"
                        (ngModelChange)="changePageSize()"
                        class="form-control form-control-sm"
                      >
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      <label entries-data for="data-entries">entrées</label>
                    </div>
                    <div class="dataTables_filter">
                      <label for="search"> Rechercher: </label>
                      <input
                        [(ngModel)]="searchDataValue"
                        (ngModelChange)="searchData(searchDataValue)"
                        class="form-control form-control-sm"
                      />
                      <select
                        [(ngModel)]="selectedStatus"
                        (ngModelChange)="changeStatus()"
                        class="form-select form-control-sm text-secondary"
                      >
                        <option
                          value="null"
                          [selected]="selectedStatus === null"
                        >
                          Tous les Statuts
                        </option>
                        <option
                          value="Applied"
                          [selected]="selectedStatus === 'Applied'"
                        >
                          Candidature Soumise
                        </option>
                        <option
                          value="Recruitment Approved"
                          [selected]="selectedStatus === 'Recruitment Approved'"
                        >
                          Recrutement a Approuvé
                        </option>
                        <option
                          value="Rejected"
                          [selected]="selectedStatus === 'Rejected'"
                        >
                          Rejeté
                        </option>
                        <option
                          value="Accepted"
                          [selected]="selectedStatus === 'Accepted'"
                        >
                          Accepté
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="table-scroll">
                    <table
                      matSort
                      (matSortChange)="sortData($event)"
                      class="table table-center table-hover mb-0 datatable"
                    >
                      <thead>
                        <tr>
                          <th></th>
                          <th mat-sort-header="companyName">Nom Entreprise</th>
                          <th mat-sort-header="offerTitle">Titre</th>
                          <th mat-sort-header="contractType">Type Contrat</th>
                          <th mat-sort-header="candidate">Candidate</th>
                          <th mat-sort-header="status">Status</th>
                          <th class="text-end">Action</th>
                        </tr>
                        @if (lstBoard.length === 0) {
                        <tr>
                          <td colspan="9">
                            <h5 style="text-align: center">
                              Aucune donnée trouvée
                            </h5>
                          </td>
                        </tr>
                        }
                      </thead>
                      <tbody>
                        @for (board of lstBoard; track board; let i = $index) {
                        <tr>
                          <td>
                            <div class="form-check custom-checkbox">
                              <input
                                type="checkbox"
                                class="form-check-input"
                                id="customCheck1"
                              />
                              <label
                                class="form-check-label"
                                for="customCheck1"
                              ></label>
                            </div>
                          </td>
                          <td (click)="showCandidatureDetailsModal(board)">
                            <h2 class="table-avatar">
                              <a [routerLink]="'/admin/profile'">
                                {{ board?.jobOffer?.company?.name }}
                              </a>
                            </h2>
                          </td>
                          <td (click)="showCandidatureDetailsModal(board)">
                            {{ board?.jobOffer?.title }}
                          </td>
                          <td (click)="showCandidatureDetailsModal(board)">
                            <div>
                              {{ board?.jobOffer?.contractType?.description }}
                            </div>
                          </td>
                          <td (click)="showCandidatureDetailsModal(board)">
                            {{ board?.candidate?.firstName }}
                            {{ board?.candidate?.lastName }},
                            {{ board?.candidate?.phone }}
                          </td>
                          <td
                            [ngClass]="getStatusClass(board.status.name)"
                            (click)="showCandidatureDetailsModal(board)"
                          >
                            {{ translateStatusToFrench(board.status.name) }}
                          </td>
                          <td class="text-end" data-bs-toggle="dropdown">
                            <div class="hide-shave">
                              <a
                                href="javascript:void(0)"
                                class="dropdown-toggle nav-link"
                                ><i class="fas fa-ellipsis-v"></i
                              ></a>
                              <div class="dropdown-menu user-menu-list">
                                <a
                                  class="dropdown-item"
                                  data-dismiss="modal"
                                  href="javascript:void(0)"
                                  (click)="showCandidatureDetailsModal(board)"
                                  ><i class="feather icon-eye text-info"></i>
                                  Détails
                                </a>
                                <a
                                  class="dropdown-item"
                                  data-dismiss="modal"
                                  href="javascript:void(0)"
                                  (click)="
                                    showChangeCandidatureStatusModal(
                                      board,
                                      'Accepted'
                                    )
                                  "
                                  ><i
                                    class="feather icon-user-check text-success"
                                  ></i>
                                  Valider
                                </a>
                                <a
                                  class="dropdown-item"
                                  data-dismiss="modal"
                                  href="javascript:void(0)"
                                  (click)="
                                    showChangeCandidatureStatusModal(
                                      board,
                                      'Rejected'
                                    )
                                  "
                                  ><i
                                    class="feather icon-user-x text-danger"
                                  ></i>
                                  Rejeter
                                </a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                  <div class="table_footer">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">
                        Affichage de {{ serialNumberArray[0] }} à
                        {{ serialNumberArray[serialNumberArray.length - 1] }}
                        sur {{ totalData }} entrées
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-7">
                      <div class="pagination_section">
                        <ul class="pagination">
                          <li
                            class="page-item"
                            [ngClass]="{
                              disabled: currentPage === 1
                            }"
                          >
                            <a
                              (click)="getMoreData('previous')"
                              (keydown.enter)="getMoreData('previous')"
                              class="page-link"
                              href="javascript:void(0);"
                              tabindex="-1"
                              >Previous</a
                            >
                          </li>

                          @for (item of pageNumberArray; track item; let i =
                          $index) {
                          <li
                            class="page-item"
                            [class.active]="item === currentPage"
                            [ngClass]="
                              (pageNumberArray[currentPage - 2] > item &&
                                item !== 1 &&
                                pageNumberArray.length > 6) ||
                              (pageNumberArray[currentPage] < item &&
                                item !== 1 &&
                                pageNumberArray.length > 6 &&
                                pageNumberArray.length !== item)
                                ? 'hide-page-no'
                                : 'show-page-no'
                            "
                          >
                            <a
                              (click)="moveToPage(item)"
                              (keydown.enter)="moveToPage(item)"
                              class="page-link"
                              href="javascript:void(0);"
                            >
                              {{ item }}
                            </a>
                          </li>
                          @if ( i === 0 && pageNumberArray.length > 6 &&
                          currentPage > 2 ) {
                          <li
                            class="page-item"
                            [hidden]="currentPage === 1"
                            (click)="moveToPage(currentPage - 2)"
                            (keydown.enter)="moveToPage(currentPage - 2)"
                            tabindex="0"
                          >
                            <a class="page-link" href="javascript:void(0);">
                              ...
                            </a>
                          </li>
                          } @if ( i === pageNumberArray.length - 2 &&
                          pageNumberArray.length > 6 ) {
                          <li
                            [hidden]="
                              currentPage >=
                                pageNumberArray[pageNumberArray.length - 2] ||
                              totalData <
                                serialNumberArray[serialNumberArray.length - 1]
                            "
                            class="page-item"
                            (click)="moveToPage(currentPage + 2)"
                            (keydown.enter)="moveToPage(currentPage + 2)"
                            tabindex="0"
                          >
                            <a class="page-link" href="javascript:void(0);">
                              ...
                            </a>
                          </li>
                          } }

                          <li
                            class="page-item"
                            [ngClass]="{
                              disabled:
                                currentPage ===
                                  pageNumberArray[pageNumberArray.length - 1] ||
                                lstBoard.length === 0
                            }"
                          >
                            <a
                              (click)="getMoreData('next')"
                              (keydown.enter)="getMoreData('next')"
                              class="page-link"
                              href="javascript:void(0);"
                              >Next
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Wrapper -->
</div>

<!-- Change Status Modal -->
<div class="modal custom-modal fade" id="change_status" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>
            {{
              newStatus === "Accepted"
                ? "Acceptation de la candidature"
                : "Rejet de la candidature"
            }}
          </h3>
          <p
            [ngClass]="
              newStatus === 'Accepted' ? 'text-success' : 'text-danger'
            "
          >
            Êtes-vous sûr de vouloir
            {{ newStatus === "Accepted" ? "accepter" : "rejeter" }} la
            candidature de :
          </p>
          <p
            [ngClass]="
              newStatus === 'Accepted' ? 'text-success' : 'text-danger'
            "
          >
            <strong>
              {{ candidatureToChange?.candidate?.firstName }}
              {{ candidatureToChange?.candidate?.lastName }}
            </strong>
            au poste de
            <strong>{{ candidatureToChange?.jobOffer?.title }}</strong> chez
            <strong>{{ candidatureToChange?.jobOffer?.company?.name }}</strong
            >?
          </p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a
                href="javascript:void(0);"
                class="btn btn-primary continue-btn"
                (click)="
                  changeCandidatureStatus(candidatureToChange.id, newStatus)
                "
                >Confirmer</a
              >
            </div>
            <div class="col-6">
              <a
                href="javascript:void(0);"
                data-bs-dismiss="modal"
                class="btn btn-primary cancel-btn"
                >Annuler</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Candidature Details Modal -->
<div
  class="modal custom-modal fade"
  id="show-candidature-details"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header flex-wrap">
        <div class="text-center w-100 mb-3">
          <img src="assets/img/interim.png" alt="logo" />
        </div>
        <h3 class="modal-title">Détails de Candidature</h3>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="p-3">
        <div class="form-group">
          <h4>{{ selectedCandidature?.jobOffer?.company?.name }}</h4>
        </div>
        <hr class="m-0 mt-2" />
        <div class="form-group">
          <h5 class="text-center">Information Contact</h5>
          <div class="ms-2">
            <table>
              <tr>
                <td>Contact :</td>
                <td>
                  <strong class="ms-4"
                    >{{
                      selectedCandidature?.jobOffer?.company?.employees[0]
                        ?.firstName
                    }}
                    {{
                      selectedCandidature?.jobOffer?.company?.employees[0]
                        ?.lastName
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>E-mail :</td>
                <td>
                  <strong class="ms-4">{{
                    selectedCandidature?.jobOffer?.company?.employees[0]
                      ?.email || ""
                  }}</strong>
                </td>
              </tr>
              <tr>
                <td>Téléphone :</td>
                <td>
                  <strong class="ms-4">{{
                    selectedCandidature?.jobOffer?.company?.employees[0]
                      ?.phone || ""
                  }}</strong>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="form-group">
          <hr class="m-0 mt-2" />
          <h5 class="text-center">Message Client</h5>
          <ng-container
            *ngIf="selectedCandidature?.employeeMessage; else noMessage"
          >
            <p
              class="ms-2"
              [innerHTML]="selectedCandidature.employeeMessage"
            ></p>
          </ng-container>

          <ng-template #noMessage>
            <p class="ms-2 text-muted">Aucun message disponible</p>
          </ng-template>
        </div>

        <div class="form-group">
          <hr class="m-0 mt-2" />
          <h5 class="text-center">Message Candidat</h5>
          <ng-container
            *ngIf="selectedCandidature?.message; else noMessageCandidate"
          >
            <p class="ms-2" [innerHTML]="selectedCandidature?.message"></p>
          </ng-container>

          <ng-template #noMessageCandidate>
            <p class="ms-2 text-muted">Aucun message disponible</p>
          </ng-template>
        </div>

        <hr class="m-0 mt-2" />
        <h5 class="text-center">Information Générales</h5>
        <div class="ms-2">
          <table>
            <tr>
              <td><i>Titre d'offre :</i></td>
              <td>
                <span class="ms-4">{{
                  selectedCandidature?.jobOffer?.title
                }}</span>
              </td>
            </tr>
            <tr>
              <td><i>Date de publication :</i></td>
              <td>
                <span class="ms-4">{{
                  getDate(selectedCandidature?.jobOffer?.publicationDate)
                }}</span>
              </td>
            </tr>
            <tr>
              <td><i>Entreprise :</i></td>
              <td>
                <span class="ms-4">{{
                  selectedCandidature?.jobOffer?.company?.name
                }}</span>
              </td>
            </tr>
            <tr>
              <td><i>Activité :</i></td>
              <td>
                <span class="ms-4">{{
                  selectedCandidature?.jobOffer?.company?.nafTitle
                }}</span>
              </td>
            </tr>
            <tr>
              <td><i>Catégorie :</i></td>
              <td>
                <span class="ms-4">{{
                  selectedCandidature?.jobOffer?.company?.category
                }}</span>
              </td>
            </tr>
          </table>
        </div>

        <hr class="m-0 mt-2" />
        <h4 class="text-center">Candidate</h4>

        <div class="ms-2">
          <table>
            <tr>
              <td>Candidate :</td>
              <td>
                <strong class="ms-4"
                  >{{ selectedCandidature?.candidate?.firstName }}
                  {{ selectedCandidature?.candidate?.lastName }}</strong
                >
              </td>
            </tr>
            <tr>
              <td>E-mail :</td>
              <td>
                <strong class="ms-4">{{
                  selectedCandidature?.candidate?.email || ""
                }}</strong>
              </td>
            </tr>
            <tr>
              <td>Téléphone :</td>
              <td>
                <strong class="ms-4">{{
                  selectedCandidature?.candidate?.phone || ""
                }}</strong>
              </td>
            </tr>
            <tr>
              <td><i>Date de Candidature :</i></td>
              <td>
                <span class="ms-4">{{
                  getDate(selectedCandidature?.appliedAt)
                }}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="btn-group p-3 m-2 gap-3">
        <button
          class="btn btn-outline-success"
          data-bs-dismiss="modal"
          (click)="
            showChangeCandidatureStatusModal(selectedCandidature, 'Accepted')
          "
        >
          Valider
        </button>
        <button
          data-bs-dismiss="modal"
          class="btn btn-outline-danger"
          (click)="
            showChangeCandidatureStatusModal(selectedCandidature, 'Rejected')
          "
        >
          Rejeter
        </button>
      </div>
    </div>
  </div>
</div>
