<app-freelancerheader></app-freelancerheader>
@if (freelancer === true) {
  <!-- Page Content -->
  <div class="content content-page"
    [ngClass]="{'portfolio-page': page === 'portfolio', 'bookmark': last === 'withdraw-money' }">
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-xl-3 col-lg-4 theiaStickySidebar">
          <div class="stickybar">
            <app-sidemenu></app-sidemenu>
          </div>
        </div>
        <!-- /sidebar -->
        <!-- <div class="col-xl-9 col-md-8"
        *ngIf="page !== 'reviews' && page !== 'portfolio' && page !== 'statement'">
        <router-outlet></router-outlet>
      </div> -->
      <div class="col-xl-9 col-lg-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
}
@if (freelancer === false) {
  <router-outlet></router-outlet>
}