<div class="pro-pos">
  <div class="setting-content employee-profile-new">
    <form [formGroup]="basicForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="pro-head">
          <h3>Mon Profil</h3>
        </div>
        <div class="pro-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-row pro-pad pt-0 ps-0">
                <div class="input-block col-md-6 pro-pic">
                  <h4 class="mb-3">Information Contact</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="first-name" class="form-label">Prénom</label>
                <input
                  formControlName="firstName"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      firstName?.invalid &&
                      (firstName?.touched || firstName?.dirty)
                  }"
                />
                <!-- Message d'erreur -->
                <div
                  *ngIf="firstName?.touched && firstName?.invalid"
                  class="text-danger"
                >
                  <div *ngIf="firstName?.errors?.['required']">
                    Le champ Prénom est obligatoire.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="last-name" class="form-label">Nom</label>
                <input
                  formControlName="lastName"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      lastName?.invalid &&
                      (lastName?.touched || lastName?.dirty)
                  }"
                />
                <!-- Message d'erreur -->
                <div
                  *ngIf="lastName?.touched && lastName?.invalid"
                  class="text-danger"
                >
                  <div *ngIf="lastName?.errors?.['required']">
                    Le champ Nom est obligatoire.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="phone-number" class="form-label">Téléphone</label>
                <input
                  formControlName="phone"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      phone?.invalid && (phone?.touched || phone?.dirty)
                  }"
                />
                <!-- Message d'erreur -->
                <div
                  *ngIf="phone?.touched && phone?.invalid"
                  class="text-danger"
                >
                  <div *ngIf="phone?.errors?.['required']">
                    Le champ Téléphone est obligatoire.
                  </div>
                  <div *ngIf="phone?.errors?.['pattern']">
                    Veuillez entrer un numéro de téléphone valide.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="email-address" class="form-label">E-mail</label>
                <input
                  type="text"
                  class="form-control"
                  [value]="profile?.email"
                  disabled
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <input formControlName="userId" type="hidden" />
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="pro-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-row pro-pad pt-0 ps-0">
                <div class="input-block col-md-6 pro-pic">
                  <h4 class="mb-3">Informations Générales</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="Name" class="form-label">Raison sociale</label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="profile?.company?.name"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="Tagline" class="form-label">Siret</label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="profile?.company?.siret"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="Address" class="form-label">Activité </label>
                <input
                  type="text"
                  class="form-control"
                  [value]="profile?.company?.nafTitle"
                  disabled
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="pro-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-row pro-pad pt-0 ps-0">
                <div class="input-block col-md-6 pro-pic">
                  <h4 class="mb-3">Localisation</h4>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="Address" class="form-label">Addresse</label>
              <input
                type="text"
                class="form-control"
                [value]="
                  profile?.company?.location?.address +
                  ' ' +
                  profile?.company?.location?.addressLine2
                "
                disabled
              />
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="zip code" class="form-label">Code postal</label>
                <input
                  type="text"
                  class="form-control"
                  [value]="profile?.company?.location?.postalCode?.code"
                  disabled
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="city" class="form-label">Ville </label>
                <select class="form-select" disabled>
                  <option
                    [value]="profile?.company?.location?.city?.name"
                    selected
                  >
                    {{ profile?.company?.location?.city?.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="Country" class="form-label">Département </label>

                <select class="form-select" disabled>
                  <option
                    [value]="profile?.company?.location?.city?.department?.name"
                    selected
                  >
                    {{ profile?.company?.location?.city?.department?.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="region" class="form-label">Région </label>
                <select class="form-select" disabled>
                  <option
                    [value]="
                      profile?.company?.location?.city?.department?.region?.name
                    "
                    selected
                  >
                    {{
                      profile?.company?.location?.city?.department?.region?.name
                    }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="pro-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-row pro-pad pt-0 ps-0">
                <div class="input-block col-md-6 pro-pic">
                  <h4 class="mb-3">Médias Sociaux</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label for="Facebook" class="form-label">Facebook</label>
                <input
                  id="Facebook"
                  type="text"
                  class="form-control"
                  formControlName="facebook"
                />
                <!-- Message d'erreur -->
                <div
                  *ngIf="facebook?.touched && facebook?.invalid"
                  class="text-danger"
                >
                  <div *ngIf="facebook?.errors?.['pattern']">
                    Veuillez entrer une URL valide pour Facebook.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label for="instagram" class="form-label">Instagram </label>
                <input
                  id="instagram"
                  type="text"
                  class="form-control"
                  formControlName="instagram"
                />
                <!-- Message d'erreur -->
                <div
                  *ngIf="instagram?.touched && instagram?.invalid"
                  class="text-danger"
                >
                  <div *ngIf="instagram?.errors?.['pattern']">
                    Veuillez entrer une URL valide pour Instagram.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="mb-3">
                <label for="LinkedIn" class="form-label">LinkedIn</label>
                <input
                  id="LinkedIn"
                  type="text"
                  class="form-control"
                  formControlName="linkedIn"
                />
                <!-- Message d'erreur -->
                <div
                  *ngIf="linkedIn?.touched && linkedIn?.invalid"
                  class="text-danger"
                >
                  <div *ngIf="linkedIn?.errors?.['pattern']">
                    Veuillez entrer une URL valide pour LinkedIn.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <label for="message" class="form-label">Besoin de base</label>
        <p
          type="text"
          class="form-control"
          disabled
          [innerHTML]="profile?.company?.message"
        ></p>
      </div>

      <div class="card text-end border-0">
        <div class="pro-body">
          <button
            class="btn btn-secondary click-btn btn-plan"
            (click)="onCancel()"
          >
            Annuler
          </button>
          <button class="btn btn-primary click-btn btn-plan" type="submit">
            Mettre à jour
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade success-modal hire-modal" id="data-changed">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content" style="background-color: #a3cfbb">
      <div class="modal-body pt-4">
        <div class="success-msg-content text-center">
          Vos données ont été modifiées avec <strong>succès</strong>.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /The Modal -->
