<div class="page-wrapper board-screen">
  <div class="content container-fluid">
    <div class="acc-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="multistep-form">
            <!-- Freelancer Multistep -->
            <div class="multistep-progress" id="freelance_step">
              <div class="container">
                <div class="first-progress">
                  <div class="row align-items-center">
                    <div class="col-md-3">
                      <div class="board-logo">
                        <a [routerLink]="routes.home"
                          ><img
                            src="assets/img/interim.png"
                            alt="Img"
                            class="img-fluid"
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <ul id="progressbar" class="progressbar">
                        <li
                          [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 0,
                            'progress-activated': selectedFieldSet[0] > 0
                          }"
                        >
                          <div class="multi-step">
                            <img
                              src="assets/img/icon/wizard-icon-01.svg"
                              alt="Img"
                            />
                          </div>
                          <div class="steps-count">
                            <span>Step 1/5</span>
                            <h5>Account Type</h5>
                          </div>
                        </li>
                        <li
                          [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 1,
                            'progress-activated': selectedFieldSet[0] > 1
                          }"
                        >
                          <div class="multi-step">
                            <img
                              src="assets/img/icon/wizard-icon-02.svg"
                              alt="Img"
                            />
                          </div>
                          <div class="steps-count">
                            <span>Step 2/5</span>
                            <h5>Personal info</h5>
                          </div>
                        </li>
                        <li
                          [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 2,
                            'progress-activated': selectedFieldSet[0] > 2
                          }"
                        >
                          <div class="multi-step">
                            <img
                              src="assets/img/icon/wizard-icon-03.svg"
                              alt="Img"
                            />
                          </div>
                          <div class="steps-count">
                            <span>Step 3/5</span>
                            <h5>Skills & Experience</h5>
                          </div>
                        </li>
                        <li
                          [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 3,
                            'progress-activated': selectedFieldSet[0] > 3
                          }"
                        >
                          <div class="multi-step">
                            <img
                              src="assets/img/icon/wizard-icon-04.svg"
                              alt="Img"
                            />
                          </div>
                          <div class="steps-count">
                            <span>Step 4/5</span>
                            <h5>Other Information</h5>
                          </div>
                        </li>
                        <li
                          [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 4,
                            'progress-activated': selectedFieldSet[0] > 4
                          }"
                        >
                          <div class="multi-step">
                            <img
                              src="assets/img/icon/wizard-icon-05.svg"
                              alt="Img"
                            />
                          </div>
                          <div class="steps-count">
                            <span>Step 5/5</span>
                            <h5>Email Verification</h5>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Freelancer Multistep -->

            <!-- Accounting Onboard -->
            <div
              class="text-center on-board select-account group-select"
              [ngClass]="{ 'd-block': displayBlock === true }"
              [ngClass]="{ 'd-none': displayNone === true }"
              [class.d-block]="selectedFieldSet[0] === 0"
            >
              <div class="select-type">
                <div class="account-onborad onboard-head">
                  <h2>Select Account Type</h2>
                  <p>Don’t worry, this can be changed later.</p>
                  <div class="select-box d-flex justify-content-center">
                    <input
                      id="freelance"
                      type="radio"
                      name="credit-card"
                      value="visa"
                    />
                    <label
                      class="employee-level free-lance-img accounts_type"
                      data-id="freelance"
                      for="freelance"
                    >
                      <a [routerLink]="routes.freelancer_onboard">
                        <img
                          src="assets/img/select-04.svg"
                          alt="Img"
                          class="img-fluid"
                        />
                        <span>Freelancer</span>
                      </a>
                    </label>
                    <input
                      checked="checked"
                      id="employee"
                      class="accounts_type"
                      type="radio"
                      name="credit-card"
                      value="mastercard"
                    />
                    <label
                      class="employee-level employee-img accounts_type"
                      data-id="employee"
                      for="employee"
                      ><a [routerLink]="routes.employer_onboard">
                        <img
                          src="assets/img/icon/checks.svg"
                          alt="Img"
                          class="checks-set"
                        />
                        <img
                          src="assets/img/select-05.svg"
                          alt="Img"
                          class="img-fluid"
                        /><span>Employer</span></a
                      ></label
                    >
                  </div>
                </div>
                <!-- <input
                  class="btn btn-prev prev_btn btn-back"
                  name="next"
                  type="button"
                  value="Back"
                  disabled
                />
                <input
                  class="btn next_btn btn-primary btn-get btn-next"
                  name="next"
                  type="submit"
                  value="Next"
                  (click)="selectedFieldSet[0] = 1; none()"
                  (keydown.enter)="selectedFieldSet[0] = 1; none()"
                /> -->
              </div>
            </div>
            <!-- /Accounting Onboard -->

            <!-- Personal Info -->
     <form [formGroup]="employerForm" (ngSubmit)="onSubmit()">
              <!-- Account Type Selection -->
              <!-- Personal Info -->
              <div class="on-board field-card select-account select-btn" 
                   [class.d-block]="selectedFieldSet[0] === 1">
                <div class="text-center onboard-head">
                  <h2>Personal Info</h2>
                  <p>Tell a bit about yourself. This information will appear on your public profile.</p>
                </div>
                <div class="field-item personal-info space-info">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="pro-form-img">
                        <div class="profile-pic">Profile Photo</div>
                        <div class="upload-files">
                          <label class="file-upload image-upbtn">
                            <i class="feather icon-upload me-2"></i>Upload Photo
                            <input type="file" formControlName="profilePhoto" />
                          </label>
                          <span>For better preview recommended size is 450px x 450px. Max size 5mb.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="first-name" class="form-label">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName" id="first-name" />
                        <div *ngIf="employerForm.get('firstName')?.invalid && employerForm.get('firstName')?.touched" 
                             class="text-danger">
                          First Name is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="last-name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName" id="last-name" />
                        <div *ngIf="employerForm.get('lastName')?.invalid && employerForm.get('lastName')?.touched" 
                             class="text-danger">
                          Last Name is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="phone-number" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" formControlName="phoneNumber" id="phone-number" />
                        <div *ngIf="employerForm.get('phoneNumber')?.invalid && employerForm.get('phoneNumber')?.touched" 
                             class="text-danger">
                          Phone Number is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="email-address" class="form-label">Email Address</label>
                        <input type="text" class="form-control" formControlName="email" id="email-address" />
                        <div *ngIf="employerForm.get('email')?.invalid && employerForm.get('email')?.touched" 
                             class="text-danger">
                          <div *ngIf="employerForm.get('email')?.errors?.['required']">
                            Email is required.
                          </div>
                          <div *ngIf="employerForm.get('email')?.errors?.['email']">
                            Please enter a valid email address.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <input class="btn btn-prev prev_btn btn-back" type="button" value="Back" 
                         (click)="selectedFieldSet[0] = 0; block()" />
                  <input class="btn next_btn btn-primary btn-get btn-next" type="button" value="Next" 
                         (click)="validateStep(1)" />
                </div>
              </div>

              <!-- Employer Info -->
              <div class="on-board field-card select-account select-btn" 
                   [class.d-block]="selectedFieldSet[0] === 2">
                <div class="text-center onboard-head">
                  <h2>Employer Info</h2>
                  <p>This is your time to shine. Let potential buyers know what you do best.</p>
                </div>
                <div class="field-item personal-info space-info">
                  <div class="row">
                    <div class="col-md-12">
                      <h4>Details</h4>
                    </div>
                    <div class="col-md-6">
                      <div class="input-block">
                        <label for="company-name" class="form-label">Company Name</label>
                        <input type="text" class="form-control" formControlName="companyName" id="company-name" />
                        <div *ngIf="employerForm.get('companyName')?.invalid && employerForm.get('companyName')?.touched" 
                             class="text-danger">
                          Company Name is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-block">
                        <label for="tagline" class="form-label">Tagline</label>
                        <input type="text" class="form-control" formControlName="tagline" id="tagline" />
                        <div *ngIf="employerForm.get('tagline')?.invalid && employerForm.get('tagline')?.touched" 
                             class="text-danger">
                          Tagline is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-block">
                        <label for="established" class="form-label">Established On</label>
                        <input type="text" class="form-control" formControlName="established" id="established" />
                        <div *ngIf="employerForm.get('established')?.invalid && employerForm.get('established')?.touched" 
                             class="text-danger">
                          Established date is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-block">
                        <label for="company-owner" class="form-label">Company Owner Name</label>
                        <input type="text" class="form-control" formControlName="companyOwner" id="company-owner" />
                        <div *ngIf="employerForm.get('companyOwner')?.invalid && employerForm.get('companyOwner')?.touched" 
                             class="text-danger">
                          Company Owner Name is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-block">
                        <label class="focus-label" for="industry">Industry</label>
                        <mat-select formControlName="industry" id="industry" class="select mat-select arrow verify" placeholder="Select">
                          @for (data of selectedList3; track data) {
                            <mat-option [value]="data.value">{{ data.value }}</mat-option>
                          }
                        </mat-select>
                        <div *ngIf="employerForm.get('industry')?.invalid && employerForm.get('industry')?.touched" 
                             class="text-danger">
                          Industry is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-block">
                        <label for="website" class="form-label">Website</label>
                        <input type="text" class="form-control" formControlName="website" id="website" />
                        <div *ngIf="employerForm.get('website')?.invalid && employerForm.get('website')?.touched" 
                             class="text-danger">
                          Website is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-block">
                        <label for="team-size" class="form-label">Team Size</label>
                        <div class="check-radio">
                          <ul>
                            <li>
                              <label class="custom_radio me-4">
                                <input type="radio" formControlName="teamSize" value="It's just me" />
                                <span class="checkmark"></span>
                                It's just me
                              </label>
                            </li>
                            <li>
                              <label class="custom_radio me-4">
                                <input type="radio" formControlName="teamSize" value="2-9 employees" />
                                <span class="checkmark"></span>
                                2-9 employees
                              </label>
                            </li>
                            <li>
                              <label class="custom_radio me-4">
                                <input type="radio" formControlName="teamSize" value="10-99 employees" />
                                <span class="checkmark"></span>
                                10-99 employees
                              </label>
                            </li>
                            <li>
                              <label class="custom_radio me-4">
                                <input type="radio" formControlName="teamSize" value="100-1000 employees" />
                                <span class="checkmark"></span>
                                100-1000 employees
                              </label>
                            </li>
                            <li>
                              <label class="custom_radio me-4">
                                <input type="radio" formControlName="teamSize" value="More than 1000 employees" />
                                <span class="checkmark"></span>
                                More than 1000 employees
                              </label>
                            </li>
                          </ul>
                        </div>
                        <div *ngIf="employerForm.get('teamSize')?.invalid && employerForm.get('teamSize')?.touched" 
                             class="text-danger">
                          Team Size is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-block min-characters">
                        <label for="intro" class="form-label">Describe Yourself</label>
                        <textarea class="form-control" rows="5" formControlName="intro" id="intro"></textarea>
                        <div *ngIf="employerForm.get('intro')?.invalid && employerForm.get('intro')?.touched" 
                             class="text-danger">
                          Description is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <input class="btn btn-prev prev_btn btn-back" type="button" value="Back" 
                         (click)="selectedFieldSet[0] = 1" />
                  <input class="btn next_btn btn-primary btn-get btn-next" type="button" value="Next" 
                         (click)="validateStep(2)" />
                </div>
              </div>

              <!-- Other Info -->
              <div class="on-board field-card select-account select-btn" 
                   [class.d-block]="selectedFieldSet[0] === 3">
                <div class="text-center onboard-head">
                  <h2>Other info</h2>
                  <p>Don't worry, this can be changed later.</p>
                </div>
                <div class="field-item personal-info">
                  <div class="media-set">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Médias Sociaux</h4>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="facebook" class="form-label">Facebook</label>
                          <input type="text" class="form-control" formControlName="facebook" id="facebook" />
                          <div *ngIf="employerForm.get('facebook')?.invalid && employerForm.get('facebook')?.touched" 
                               class="text-danger">
                            Facebook is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="instagram" class="form-label">Instagram</label>
                          <input type="text" class="form-control" formControlName="instagram" id="instagram" />
                          <div *ngIf="employerForm.get('instagram')?.invalid && employerForm.get('instagram')?.touched" 
                               class="text-danger">
                            Instagram is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="linkedin" class="form-label">LinkedIn</label>
                          <input type="text" class="form-control" formControlName="linkedin" id="linkedin" />
                          <div *ngIf="employerForm.get('linkedin')?.invalid && employerForm.get('linkedin')?.touched" 
                               class="text-danger">
                            LinkedIn is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="behance" class="form-label">Behance</label>
                          <input type="text" class="form-control" formControlName="behance" id="behance" />
                          <div *ngIf="employerForm.get('behance')?.invalid && employerForm.get('behance')?.touched" 
                               class="text-danger">
                            Behance is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="pinterest" class="form-label">Pinterest</label>
                          <input type="text" class="form-control" formControlName="pinterest" id="pinterest" />
                          <div *ngIf="employerForm.get('pinterest')?.invalid && employerForm.get('pinterest')?.touched" 
                               class="text-danger">
                            Pinterest is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="twitter" class="form-label">Twitter</label>
                          <input type="text" class="form-control" formControlName="twitter" id="twitter" />
                          <div *ngIf="employerForm.get('twitter')?.invalid && employerForm.get('twitter')?.touched" 
                               class="text-danger">
                            Twitter is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="media-set">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Personal Website</h4>
                      </div>
                      <div class="col-md-12">
                        <div class="input-block">
                          <label for="website-url" class="form-label">Website Url</label>
                          <input type="text" class="form-control" formControlName="websiteUrl" id="website-url" />
                          <div *ngIf="employerForm.get('websiteUrl')?.invalid && employerForm.get('websiteUrl')?.touched" 
                               class="text-danger">
                            Website URL is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="media-set">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Location</h4>
                      </div>
                      <div class="col-md-12">
                        <div class="input-block">
                          <label for="address" class="form-label">Address</label>
                          <input type="text" class="form-control" formControlName="address" id="address" />
                          <div *ngIf="employerForm.get('address')?.invalid && employerForm.get('address')?.touched" 
                               class="text-danger">
                            Address is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-block">
                          <label for="city" class="form-label">City</label>
                          <input type="text" class="form-control" formControlName="city" id="city" />
                          <div *ngIf="employerForm.get('city')?.invalid && employerForm.get('city')?.touched" 
                               class="text-danger">
                            City is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-block">
                          <label for="state" class="form-label">State / Province</label>
                          <input type="text" class="form-control" formControlName="state" id="state" />
                          <div *ngIf="employerForm.get('state')?.invalid && employerForm.get('state')?.touched" 
                               class="text-danger">
                            State is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-block">
                          <label for="post-code" class="form-label">ZIP / Post Code</label>
                          <input type="text" class="form-control" formControlName="postCode" id="post-code" />
                          <div *ngIf="employerForm.get('postCode')?.invalid && employerForm.get('postCode')?.touched" 
                               class="text-danger">
                            Post Code is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-block">
                          <label for="country" class="form-label">Country</label>
                          <mat-select formControlName="country" id="country" class="select mat-select arrow verify" placeholder="Select">
                            @for (data of selectedList7; track data) {
                              <mat-option [value]="data.value">{{ data.value }}</mat-option>
                            }
                          </mat-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="media-set">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>KYC Upload</h4>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block">
                          <label for="document-type" class="form-label">Document Type</label>
                          <mat-select formControlName="kycType" id="document-type" class="select mat-select arrow verify" placeholder="Select">
                            @for (data of selectedList8; track data) {
                              <mat-option [value]="data.value">{{ data.value }}</mat-option>
                            }
                          </mat-select>
                          <div *ngIf="employerForm.get('kycType')?.invalid && employerForm.get('kycType')?.touched" 
                               class="text-danger">
                            Document Type is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block">
                          <label for="document-number" class="form-label">Document Number</label>
                          <input type="text" class="form-control" formControlName="kycNumber" id="document-number" />
                          <div *ngIf="employerForm.get('kycNumber')?.invalid && employerForm.get('kycNumber')?.touched" 
                               class="text-danger">
                            Document Number is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="input-block">
                          <label for="document-upload" class="form-label">Upload Document</label>
                          <div class="upload-sets">
                            <label class="upload-filesview">
                              Browse File
                              <input type="file" formControlName="kycDocument" id="document-upload" />
                            </label>
                            <h6>Or Drag & Drop here</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Working Hours section remains the same -->
                </div>
                <div class="text-center">
                  <input class="btn btn-prev prev_btn btn-back" type="button" value="Back" 
                         (click)="selectedFieldSet[0] = 2" />
                  <input class="btn next_btn btn-primary btn-get btn-next" type="submit" value="Submit" />
                </div>
              </div>
            </form>
            <!-- /Other Info -->

            <!-- Completeing Register -->
            <div
              class="on-board field-card"
              [class.d-block]="selectedFieldSet[0] === 4"
            >
              <div class="account-onborad complte-board back-home pb-0">
                <img
                  src="assets/img/icon/mail.png"
                  class="img-fluid"
                  alt="icon"
                />
                <h2>Email Verification</h2>
                <h3>We have send a verification link to info&#64;email.com</h3>
                <p>Click on the link to complete the verification Process</p>
                <p>You might need to check your Spam folder</p>
                <a href="javascript:void(0);" class="link-danger"
                  ><i class="feather icon-refresh-cw me-2"></i> Resend Email</a
                >
              </div>
              <div class="text-center">
                <input
                  class="btn btn-prev prev_btn btn-back"
                  name="next"
                  type="button"
                  value="Back"
                  (click)="selectedFieldSet[0] = 3"
                />
              </div>
            </div>
            <!-- /Completeing Register -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
