<!-- Verification Message Content -->
<div class="content">
  <div class="container-fluid">
    <!-- Alert Section -->
    <!-- Rest of your template -->

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="account-onborad complte-board back-home pb- text-center">
          <img
            src="assets/img/icon/mail.png"
            alt="Verification"
            class="img-fluid"
          />
          <div
            *ngIf="alertMessage"
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            {{ alertMessage }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <h2>{{ "registration.successful" | translate }}</h2>
          <p>{{ "registration.verifyEmail" | translate : { email: email } }}</p>
          <p>{{ "registration.resendEmail" | translate }}</p>
          <div class="btn-item">
            <a href="javascript:void(0);" class="link-danger"
              ><i class="feather icon-home me-2"></i>Accueil</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
