.card.filter-card {
  display: none;
  transition: all 0.3s ease;
}

.card.filter-card.filter-show {
  display: block;
}

.subscribe-employe .users-list ul li a {
  color: #000;
  text-decoration: none;
}

.selected {
  padding: 10px;
  background: white !important;
  color: #179ab5 !important;
  border-bottom: 2px solid #e65425 !important;
}
.action {
  margin: 0 !important;
  padding: 0 !important;
}

.profile-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6c757d;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.compact-checkbox .mat-cell,
.compact-checkbox .form-check,
.compact-checkbox .form-check-input {
  margin: 0 !important;
  padding: 0 !important;
}

/* Ensure the checkbox takes only its own size */
.compact-checkbox .form-check {
  display: inline-block;
}
:host {
  display: block;
  position: relative;
}

.pdf-container {
  position: relative;
  width: 100%;
  height: 500px;
}
