<div class="page-title">
  <h3>Candidatures Terminées</h3>
</div>
<!-- project list -->
@for (offer of paginatedOffers; track offer) {
<div class="my-projects-list ongoing-projects">
  <div class="row">
    <div class="col-xl-9 flex-wrap">
      <div class="freelancer-proposals proposal-ongoing mb-0">
        <div class="project-proposals align-items-center freelancer">
          <div class="proposal-info">
            <div class="proposals-details">
              <span class="tech-name-badge">{{
                offer?.jobOffer?.job?.subActivity?.name
              }}</span>
              <div class="d-flex justify-content-between align-items-start">
                <div class="employee-project-card">
                  <h3 class="proposals-title">{{ offer?.jobOffer?.title }}</h3>
                  <ul>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">Type Contrat</h4>
                        <h3>
                          {{ offer?.jobOffer?.contractType?.description }}
                        </h3>
                      </div>
                    </li>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">Localisation</h4>
                        <h3 class="flag-icon">
                          {{ offer?.jobOffer?.city?.name }}
                        </h3>
                      </div>
                    </li>
                    <li *ngIf="offer?.jobOffer?.expectedDuration">
                      <div class="proposal-job-type">
                        <h4 class="title-info">Durée mission</h4>
                        <h3>
                          {{ offer?.jobOffer?.expectedDuration }}
                          {{ offer?.jobOffer?.timeUnit }}
                        </h3>
                      </div>
                    </li>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">Date de publication</h4>
                        <h3>{{ getDate(offer?.jobOffer?.publicationDate) }}</h3>
                      </div>
                    </li>
                  </ul>
                </div>
                <ul class="employee-project">
                  <li>
                    <div class="project-action text-center">
                      <a href="javascript:void(0)" class="projects-btn"
                        >Plus de Détails</a
                      >
                      <a
                        *ngIf="offer?.status?.name === 'Recruitment Approved'"
                        href="javascript:void(0);"
                        class="projects-btn completed-btn"
                        ><i class="fa fa-award me-2"></i>Terminée</a
                      >
                      <a
                        *ngIf="offer?.status?.name === 'Accepted'"
                        href="javascript:void(0);"
                        class="projects-btn-info"
                        ><i class="fa fa-spinner me-2"></i>En cours...</a
                      >
                      <a
                        *ngIf="offer?.status?.name === 'Rejected'"
                        href="javascript:void(0);"
                        class="projects-btn-x"
                        ><i class="fa fa-user-xmark me-2"></i>Rejeté</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 d-flex flex-wrap">
      <div class="projects-card flex-fill">
        <div class="card-body p-2">
          <div class="prj-proposal-count text-center hired">
            <h3>Hired</h3>
            <img
              [src]="
                offer?.candidate?.image !== null
                  ? baseUrl + offer?.candidate?.image
                  : ''
              "
              alt="Img"
              class="img-fluid"
            />
            <p class="mb-0">
              {{ offer?.candidate.firstName }} {{ offer?.candidate.lastName }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
<!-- /project list -->
<div class="no-project-message" *ngIf="paginatedOffers.length === 0">
  <h4>Vous n'avez pas encore de projet.</h4>
</div>
<!-- pagination -->
<div class="row" *ngIf="paginatedOffers.length > 0">
  <div class="col-md-12">
    <ul class="paginations list-pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a
          (click)="changePage(currentPage - 1)"
          [class.disabled]="currentPage === 1"
        >
          <i class="feather icon-chevron-left"></i>
        </a>
      </li>

      @for (page of getPageNumbers(); track page) {
      <li class="page-item">
        <a (click)="changePage(page)" [class.active]="currentPage === page">
          {{ page }}
        </a>
      </li>
      }

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a
          (click)="changePage(currentPage + 1)"
          [class.disabled]="currentPage === totalPages"
        >
          <i class="feather icon-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /pagination -->
<!-- The Modal -->
<div class="modal fade edit-proposal-modal" id="write-review">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Write a Review</h4>
        <span class="modal-close"
          ><a
            href="javascript:void(0);"
            data-bs-dismiss="modal"
            aria-label="Close"
            ><i class="feather icon-x"></i></a
        ></span>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="modal-info">
            <div class="reviewed-user">
              <img src="assets/img/user/table-avatar-02.jpg" alt="Img" />
              <span>Bolethe Fleischer</span>
            </div>
            <div class="input-block form-info">
              <label for="Ratings" class="col-form-label mb-0 mt-2"
                >Ratings</label
              >
              <div class="rating rating-select mb-0">
                <a href="javascript:void(0);"><i class="fas fa-star"></i></a>
                <a href="javascript:void(0);"><i class="fas fa-star"></i></a>
                <a href="javascript:void(0);"><i class="fas fa-star"></i></a>
                <a href="javascript:void(0);"><i class="fas fa-star"></i></a>
                <a href="javascript:void(0);"><i class="fas fa-star"></i></a>
              </div>
            </div>
            <div class="input-block">
              <label for="Description" class="form-label">Description</label>
              <ngx-editor [editor]="editor">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                </ngx-editor-menu>
              </ngx-editor>
            </div>
          </div>
          <div class="submit-section text-end">
            <a
              href="javascript:void(0);"
              data-bs-dismiss="modal"
              class="btn btn-cancel"
              >Cancel</a
            >
            <button type="submit" class="btn btn-primary submit-btn">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /The Modal -->
