<div class="page-wrapper board-screen">
  <div class="content container-fluid">
    <div class="acc-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="multistep-form">
            <!-- Freelancer Multistep -->
            <div class="multistep-progress" id="freelance_step">
              <div class="container">
                <div class="first-progress">
                  <div class="row align-items-center">
                    <div class="col-md-3">
                      <div class="board-logo">
                        <a [routerLink]="routes.home"
                          ><img
                            src="assets/img/interim.png"
                            alt="Img"
                            class="img-fluid"
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <ul id="progressbar" class="progressbar">
                        <li
                          [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 1,
                            'progress-activated': selectedFieldSet[0] > 1
                          }"
                        >
                          <div class="multi-step">
                            <img
                              src="assets/img/icon/wizard-icon-02.svg"
                              alt="Img"
                            />
                          </div>
                          <div class="steps-count">
                            <span>Step 1/3</span>
                            <h5>Personal info</h5>
                          </div>
                        </li>
                        <li
                          [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 2,
                            'progress-activated': selectedFieldSet[0] > 2
                          }"
                        >
                          <div class="multi-step">
                            <img
                              src="assets/img/icon/wizard-icon-03.svg"
                              alt="Img"
                            />
                          </div>
                          <div class="steps-count">
                            <span>Step 2/3</span>
                            <h5>Compétences et expérience</h5>
                          </div>
                        </li>

                        <li
                          [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 3,
                            'progress-activated': selectedFieldSet[0] > 3
                          }"
                        >
                          <div class="multi-step">
                            <img
                              src="assets/img/icon/wizard-icon-05.svg"
                              alt="Img"
                            />
                          </div>
                          <div class="steps-count">
                            <span>Step 3/3</span>
                            <h5>Email Verification</h5>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Personal Info -->
            <div
              class="on-board field-card select-account select-btn"
              [class.d-block]="selectedFieldSet[0] === 1"
            >
              <div class="text-center onboard-head">
                <h2>Parlez-nous de vous</h2>

                <p>
                  Ces informations, essentielles pour les entreprises et pour
                  notre IA, doivent être les plus complètes possible afin de
                  vous proposer les missions les mieux adaptées.
                </p>
                <span
                  *ngIf="spinner"
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                ></span>
              </div>

              <div class="field-item personal-info space-info">
                <form [formGroup]="form">
                  <div class="row" formGroupName="personalDetails">
                    <div class="col-md-12 col-lg-12">
                      <div class="pro-form-img">
                        <div class="upload-files">
                          <label class="file-upload image-upbtn">
                            <i class="feather icon-upload me-2"></i>Importer CV
                            <input
                              type="file"
                              (change)="onFileSelected($event)"
                              accept=".pdf, image/*"
                            />
                          </label>
                          <span
                            >Pour un traitement optimal, assurez-vous que votre
                            CV est aussi complet que possible. Taille maximale
                            recommandée : 2 Mo.</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="first-name" class="form-label"
                          >Prénom</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="firstName"
                        />
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="last-name" class="form-label">Nom</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="lastName"
                        />
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="phone-number" class="form-label"
                          >Téléphone</label
                        >
                        <input
                          id="phone-number"
                          type="text"
                          class="form-control"
                          formControlName="phoneNumber"
                          [ngClass]="{
                            'is-invalid':
                              form.get('personalDetails.phoneNumber')
                                ?.touched &&
                              form.get('personalDetails.phoneNumber')?.invalid
                          }"
                        />
                        <small
                          *ngIf="
                            form.get('personalDetails.phoneNumber')?.touched
                          "
                          class="text-danger"
                        >
                          Le téléphone est obligatoire.
                        </small>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="email-address" class="form-label"
                          >Email</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="emailAddress"
                          readonly
                        />
                      </div>
                    </div>

                    <input
                      type="hidden"
                      class="form-control datetimepicker"
                      bsDatepicker
                      placeholder="Choose"
                      formControlName="birthday"
                    />
                  </div>
                  <hr />
                  <div class="media-set">
                    <form [formGroup]="locationForm">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="input-block">
                            <label for="website-url" class="form-label"
                              >Adresse</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              formControlName="adresse"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-3">
                          <div class="input-block">
                            <label for="post-code" class="form-label"
                              >Code Postal</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              formControlName="postalCode"
                              (change)="onZipCodeChange($event)"
                              [ngClass]="{
                                'is-invalid':
                                  locationForm.get('postalCode')?.invalid &&
                                  (locationForm.get('postalCode')?.touched ||
                                    locationForm.get('postalCode')?.dirty)
                              }"
                            />
                            <small
                              *ngIf="
                                locationForm.get('postalCode')?.invalid &&
                                locationForm.get('postalCode')?.touched
                              "
                              class="text-danger"
                            >
                              Le code postal est obligatoire.
                            </small>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="input-block">
                            <label for="city" class="form-label">Ville</label>
                            <select
                              class="form-control form-select"
                              formControlName="city"
                              (change)="onCityChange($event)"
                            >
                              <option
                                *ngFor="let city of cities"
                                [value]="city.name"
                              >
                                {{ city.name }}
                              </option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="input-block">
                            <label for="department" class="form-label"
                              >Département</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              formControlName="department"
                              readonly
                            />
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="input-block">
                            <label for="region" class="form-label"
                              >Région</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              formControlName="region"
                              readonly
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </form>
              </div>
              <div class="text-center">
                <input
                  class="btn btn-primary btn-suivant"
                  name="next"
                  type="submit"
                  value="Suivant"
                  (click)="onNextClick()"
                  (keydown.enter)="onNextClick()"
                />
              </div>
            </div>
            <!-- /Personal Info -->

            <!-- Skills & Experience -->
            <div
              class="on-board field-card select-account select-btn"
              [class.d-block]="selectedFieldSet[0] === 2"
            >
              <div class="text-center onboard-head">
                <h2>Compétences & Expériences</h2>
                <p>
                  Découvrez et vérifiez les informations qui reflètent votre
                  parcours professionnel et vos atouts, visibles par les
                  entreprises pour mieux vous connaître.
                </p>
              </div>
              <div class="field-item personal-info space-info">
                <form [formGroup]="form">
                  <div class="col-md-12">
                    <div class="input-block">
                      <label for="job-title" class="form-label"
                        >Titre profil</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="jobTitle"
                      />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <h4>Métier</h4>
                  </div>
                  <div formArrayName="activities">
                    <div
                      *ngFor="
                        let activity of activities.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <div class="row">
                        <div class="col-md-4">
                          <div class="input-block">
                            <label for="job" class="focus-label">Métier</label>
                            <input
                              id="job"
                              formControlName="job"
                              class="form-control"
                              type="text"
                              placeholder="Saisir un métier"
                              (input)="filterJobs($event.target)"
                              (keydown.enter)="addJob()"
                              [attr.autocomplete]="'off'"
                              [ngClass]="{
                                'is-invalid':
                                  activity.get('job')?.invalid &&
                                  activity.get('job')?.touched
                              }"
                            />
                            <div
                              *ngIf="
                                activity.get('job')?.invalid &&
                                activity.get('job')?.touched
                              "
                              class="text-danger"
                            >
                              Métier est requis.
                            </div>
                            <!-- Autocomplete suggestions -->
                            <ul
                              class="autocomplete-list"
                              *ngIf="filteredJobs.length"
                            >
                              <li
                                *ngFor="let job of filteredJobs"
                                (click)="selectJob(job)"
                                class="autocomplete-item"
                              >
                                {{ job.name }}
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="input-block">
                            <label for="sous-activite" class="focus-label"
                              >Sous Activité</label
                            >
                            <select
                              id="subActivity"
                              formControlName="sousActivite"
                              class="form-select"
                              (change)="onSubActivityChange($event, i)"
                              *ngIf="jobNotExist"
                              [ngClass]="{
                                'is-invalid':
                                  activity.get('sousActivite')?.invalid &&
                                  activity.get('sousActivite')?.touched
                              }"
                            >
                              <option value="" disabled selected>
                                Selectionner une Sous Activité
                              </option>
                              <option
                                *ngFor="let subActivity of subActivities"
                                [value]="subActivity.name"
                              >
                                {{ subActivity?.name }}
                              </option>
                            </select>
                            <!-- show this if Job already in the database -->
                            <input
                              formControlName="sousActivite"
                              type="text"
                              class="form-control"
                              placeholder="Sous Activité"
                              *ngIf="!jobNotExist"
                              readonly
                              [ngClass]="{
                                'is-invalid':
                                  activity.get('sousActivite')?.invalid &&
                                  activity.get('sousActivite')?.touched
                              }"
                            />
                            <div
                              *ngIf="
                                activity.get('sousActivite')?.invalid &&
                                activity.get('sousActivite')?.touched
                              "
                              class="text-danger"
                            >
                              Sous Activité est requise.
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="input-block">
                            <label for="activite" class="focus-label"
                              >Activité</label
                            >
                            <input
                              formControlName="activite"
                              type="text"
                              class="form-control"
                              placeholder="Activité"
                              readonly
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                <form [formGroup]="form">
                  <div class="row">
                    <div class="col-md-12">
                      <h4>Compétences</h4>
                    </div>
                    <div class="row" formArrayName="skills">
                      <!-- Existing Skills List -->
                      <ng-container
                        *ngFor="
                          let skill of skillsArray.controls;
                          let i = index
                        "
                        [formGroupName]="i"
                      >
                        <div class="col-md-6">
                          <div class="input-block">
                            <label for="skillName-{{ i }}" class="form-label"
                              >Titre</label
                            >
                            <input
                              id="skillName-{{ i }}"
                              type="text"
                              class="form-control"
                              placeholder="Saisir une competance"
                              [attr.autocomplete]="'off'"
                              formControlName="skillName"
                              (input)="filterSkills($event.target, i)"
                            />
                            <!-- Autocomplete suggestions -->
                            <ul
                              class="autocomplete-list"
                              *ngIf="filteredSkills.length && index === i"
                            >
                              <li
                                *ngFor="
                                  let skill of filteredSkills;
                                  let skillIndex = index
                                "
                                (click)="selectSkill(skill, i)"
                                class="autocomplete-item"
                                [class.active]="skillIndex === activeIndex"
                                [attr.data-index]="skillIndex"
                              >
                                {{ skill.name }}
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="input-block">
                            <label for="level-{{ i }}" class="focus-label"
                              >Niveau</label
                            >
                            <select
                              formControlName="level"
                              class="form-control form-select"
                              placeholder="Choose Level"
                            >
                              <option value="" selected disabled>
                                Sélectionnez un niveau
                              </option>
                              <option
                                *ngFor="let level of skillLevels"
                                [value]="level"
                              >
                                {{ level }}
                              </option>
                            </select>
                            <div class="new-addd">
                              <!-- Add New Skill button visible only for the last skill -->
                              <a
                                class="add-new me-2"
                                (click)="addSkillManually()"
                                *ngIf="i === skillsArray.controls.length - 1"
                                tabindex="0"
                              >
                                <i class="feather icon-plus-circle me-1"></i>
                                Ajouter
                              </a>
                              <!-- Supprimer button visible except for the first skill -->
                              <a
                                class="remove_row"
                                (click)="removeSkills(i)"
                                tabindex="0"
                                *ngIf="skillsArray.controls.length > 1"
                              >
                                Supprimer
                              </a>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </form>

                <form [formGroup]="form">
                  <div class="row" formArrayName="education">
                    <div class="col-md-12">
                      <h4>Formation</h4>
                    </div>
                    <div
                      class="row"
                      *ngFor="
                        let education of educationArray.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <div class="col-md-6 col-lg-3">
                        <div class="input-block">
                          <label for="degree-name" class="focus-label"
                            >Nom du diplôme</label
                          >
                          <input
                            type="text"
                            formControlName="degreeName"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3">
                        <div class="input-block">
                          <label for="university-name" class="focus-label"
                            >Nom de l’établissement</label
                          >
                          <input
                            type="text"
                            formControlName="universityName"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3">
                        <div class="input-block">
                          <label for="start-date" class="focus-label"
                            >Date du débit</label
                          >
                          <div class="cal-icon">
                            <input
                              type="text"
                              formControlName="startDate"
                              class="form-control datetimepicker"
                              placeholder="Choose"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3">
                        <div class="input-block">
                          <label for="end-date" class="focus-label"
                            >Date de fin</label
                          >
                          <div class="cal-icon">
                            <input
                              type="text"
                              formControlName="endDate"
                              class="form-control datetimepicker"
                              placeholder="Choose"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                            />
                          </div>

                          <!-- Add or Supprimer Button -->
                          <div class="new-addd">
                            <!-- Show 'Add New' button for all except the last entry -->
                            <a
                              *ngIf="i === educationArray.length - 1"
                              class="add-new me-2"
                              (click)="addEducation()"
                              tabindex="0"
                            >
                              <i class="feather icon-plus-circle me-1"></i>
                              Ajouter
                            </a>

                            <!-- Show 'Supprimer' button only if there are more than one education entry -->
                            <a
                              *ngIf="educationArray.length > 1"
                              class="remove_row"
                              (click)="removeEducation(i)"
                              tabindex="0"
                            >
                              Supprimer
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" formArrayName="experiences">
                    <div class="col-md-12">
                      <h4>Experience</h4>
                    </div>

                    <!-- Existing Experience Form Fields (Looping through experiencesArray) -->
                    <div
                      class="row"
                      *ngFor="
                        let experience of experiencesArray.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <div class="col-md-6 col-lg-3">
                        <div class="input-block">
                          <label for="company-name" class="focus-label"
                            >Nom de l'entreprise</label
                          >
                          <input
                            type="text"
                            formControlName="companyName"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3">
                        <div class="input-block">
                          <label for="post" class="focus-label"
                            >Intitulé du poste</label
                          >
                          <input
                            type="text"
                            formControlName="postTitle"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3">
                        <div class="input-block">
                          <label for="start-date" class="focus-label"
                            >Date du débit</label
                          >
                          <div class="cal-icon">
                            <input
                              type="text"
                              formControlName="startDate"
                              class="form-control datetimepicker"
                              bsDatepicker
                              placeholder="Choose"
                              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3">
                        <div class="input-block">
                          <label for="end-date" class="focus-label"
                            >Date de fin</label
                          >
                          <div class="cal-icon">
                            <input
                              type="text"
                              formControlName="endDate"
                              class="form-control datetimepicker"
                              bsDatepicker
                              placeholder="Choose"
                              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="col-md-12 input-block">
                          <label class="form-label">Responsabilités</label>
                          <textarea
                            formControlName="description"
                            class="form-control"
                            rows="10"
                          ></textarea>
                        </div>
                        <div class="new-addd">
                          <a
                            *ngIf="i === experiencesArray.length - 1"
                            class="add-new me-2"
                            (click)="addExperience()"
                            tabindex="0"
                            ><i class="feather icon-plus-circle me-1"></i>
                            Ajouter</a
                          >
                          <a
                            *ngIf="experiencesArray.length > 1"
                            class="remove_row"
                            (click)="removeExperience(i)"
                            >Supprimer</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" formArrayName="languages">
                    <div class="col-md-12">
                      <h4>Langue</h4>
                    </div>
                    <div
                      class="col-md-12"
                      *ngFor="
                        let language of languagesArray.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-block">
                            <label for="language" class="form-label"
                              >Language</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Saisir une langue"
                              [attr.autocomplete]="'off'"
                              formControlName="name"
                              (input)="filterLanguages($event.target, i)"
                            />
                            <!-- Autocomplete suggestions -->
                            <ul
                              class="autocomplete-list"
                              *ngIf="
                                filteredLanguages.length && activeIndex === i
                              "
                            >
                              <li
                                *ngFor="let language of filteredLanguages"
                                (click)="selectLanguage(language, i)"
                                class="autocomplete-item"
                              >
                                {{ language.name }}
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-block">
                            <label for="level" class="focus-label"
                              >Niveau</label
                            >
                            <select
                              formControlName="level"
                              class="form-control form-select"
                            >
                              <option
                                *ngFor="let level of selectedList6"
                                [value]="level.value"
                              >
                                {{ level.value }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="new-addd">
                        <a
                          *ngIf="i === languagesArray.length - 1"
                          class="add-new me-2"
                          (click)="addLanguage()"
                          tabindex="0"
                        >
                          <i class="feather icon-plus-circle"></i> Ajouter
                        </a>
                        <a
                          *ngIf="languagesArray.length > 1"
                          class="remove_row"
                          (click)="removeLanguage(i)"
                        >
                          Supprimer
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="text-center">
                <input
                  class="btn btn-prev prev_btn btn-suivant"
                  name="back"
                  type="button"
                  value="Précédent"
                  (click)="selectedFieldSet[0] = 1"
                />
                <input
                  class="btn btn-primary btn-suivant"
                  name="save"
                  type="submit"
                  value="Enregistrer"
                  [disabled]="form.invalid"
                  (click)="create(form)"
                />
              </div>
            </div>
            <!-- /Skills & Experience -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
