<div class="page-title">
  <h3>Candidatures</h3>
</div>
<!-- project list -->
@for (offer of paginatedOffers; track offer) {
<div class="my-projects-list ongoing-projects">
  <div class="row">
    <div class="col-xl-9 flex-wrap">
      <div class="freelancer-proposals proposal-ongoing mb-0">
        <div class="project-proposals align-items-center freelancer">
          <div class="proposal-info">
            <div class="proposals-details">
              <span class="tech-name-badge">{{
                offer?.job?.subActivity?.name
              }}</span>
              <div class="d-flex justify-content-between align-items-start">
                <div class="employee-project-card">
                  <h3 class="proposals-title">{{ offer?.title }}</h3>
                  <ul>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">Type Contrat</h4>
                        <h3>{{ offer?.contractType?.description }}</h3>
                      </div>
                    </li>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">Localisation</h4>
                        <h3 class="flag-icon">
                          {{ offer?.city?.name }}
                        </h3>
                      </div>
                    </li>
                    <li *ngIf="offer?.expectedDuration">
                      <div class="proposal-job-type">
                        <h4 class="title-info">Duree</h4>
                        <h3>
                          {{ offer?.expectedDuration }}
                          {{ offer?.timeUnit }}
                        </h3>
                      </div>
                    </li>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">Date de publication</h4>
                        <h3>{{ getDate(offer?.publicationDate) }}</h3>
                      </div>
                    </li>
                  </ul>
                </div>
                <ul class="employee-project">
                  <li>
                    <div class="project-action text-center">
                      <a
                        [routerLink]="routes.get_projectproposal(offer?.id)"
                        class="projects-btn"
                        >Voir Candidatures</a
                      >
                      <a
                        [routerLink]="
                          routes.get_employee_project_details(offer?.id)
                        "
                        class="mb-0"
                        >Voir Détails</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 d-flex flex-wrap">
      <div class="projects-card flex-fill">
        <div class="card-body p-2">
          <a [routerLink]="routes.get_projectproposal(offer?.id)">
            <div class="prj-proposal-count text-center hired">
              <h2>{{ offer?.candidateJobOffers?.length }}</h2>
              <h3 class="mb-0">
                {{
                  offer?.candidateJobOffers?.length === 1
                    ? "Candidature"
                    : "Candidatures"
                }}
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
}
<!-- /project list -->
<!-- pagination -->
<div class="row">
  <div class="col-md-12">
    <ul class="paginations list-pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a
          (click)="changePage(currentPage - 1)"
          [class.disabled]="currentPage === 1"
        >
          <i class="feather icon-chevron-left"></i>
        </a>
      </li>

      @for (page of getPageNumbers(); track page) {
      <li class="page-item">
        <a (click)="changePage(page)" [class.active]="currentPage === page">
          {{ page }}
        </a>
      </li>
      }

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a
          (click)="changePage(currentPage + 1)"
          [class.disabled]="currentPage === totalPages"
        >
          <i class="feather icon-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /pagination -->
