<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Page Not Found -->
        <div class="empty-content text-center">
          <img src="assets/img/404.png" alt="logo" class="img-fluid" />
          <h2>Page non trouvée</h2>
          <p>
          Oups ! Il semble que vous ayez suivi un lien incorrect. Si vous pensez qu’il s’agit d’un problème de notre part, veuillez nous le signaler.
          </p>
          <div class="btn-item">
            <a class="btn get-btn" [routerLink]="routes.home"
              >Retour à l'accueil <i class="feather icon-arrow-right ms-2"></i
            ></a>
            
          </div>
        </div>
        <!-- / Page Not Found -->
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
