<!-- Accueil Banner -->
<section class="section home-banner home-five row-middle">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12">
        <div class="banner-blk-five justify-content-center"
          style="text-align: center; padding-top: 7rem; padding-bottom: 6rem;">

          <!-- Title -->
          <h2 style="color: white;" class="animate-slidein">
            Vous êtes candidat ?<br/> Trouvez votre prochaine mission ou CDI. Inscrivez-vous dès maintenant ! <br />
         <br/>   Vous recrutez ?<br/> Publiez vos annonces gratuitement et trouvez le bon candidat rapidement.
          </h2>





        </div>
      </div>
    </div>
  </div>
</section>


<!-- /Accueil Banner -->

<div class="trusted-by-section">
  <span>Ils nous font confiance :</span>
  <ul>
    <li>
      <img src="assets/img/icon/trusted1.svg" alt="Img" />
    </li>
    <li>
      <img src="assets/img/icon/trusted2.svg" alt="Img" />
    </li>
    <li>
      <img src="assets/img/icon/trusted3.svg" alt="Img" />
    </li>
    <li>
      <img src="assets/img/icon/trusted4.svg" alt="Img" />
    </li>
    <li>
      <img src="assets/img/icon/trusted5.svg" alt="Img" />
    </li>
  </ul>
</div>

<section class="project-by-category">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 mx-auto text-center">
        <div class="section-header aos aos-init aos-animate" data-aos="fade-up">
          <h2 class="header-title">Parcourir les projets par catégorie</h2>
          <p>
            Faites avancer vos missions dans plus de 60 catégories différentes
          </p>
        </div>
      </div>
    </div>
    <div class="category-slider-section">
      <div id="category-slider" class="custom-slider-blog owl-theme blog-trick-five blog-slider aos" data-aos="fade-up">
        <owl-carousel-o [options]="blogSlider">
          <ng-template carouselSlide>
            <div class="project-by-category-widget">
              <a [routerLink]="routes.projectList" class="category-widget-img">
                <img src="assets/img/slider/category-img-1.jpg" class="img-fluid" alt="slider-image" />
              </a>
              <div class="category-widget-content">
                <h5>Bâtiment</h5>
                <p class="mb-0">Construisez l’avenir</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="project-by-category-widget">
              <a [routerLink]="routes.projectList" class="category-widget-img">
                <img src="assets/img/slider/category-img-2.jpg" class="img-fluid" alt="slider-image" />
              </a>
              <div class="category-widget-content">
                <h5>Informatique</h5>
                <p class="mb-0">Boostez votre digital</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="project-by-category-widget">
              <a [routerLink]="routes.projectList" class="category-widget-img">
                <img src="assets/img/slider/category-img-3.jpg" class="img-fluid" alt="slider-image" />
              </a>
              <div class="category-widget-content">
                <h5>Automobile</h5>
                <p class="mb-0">Remettez tout en route</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="project-by-category-widget">
              <a [routerLink]="routes.projectList" class="category-widget-img">
                <img src="assets/img/slider/category-img-4.jpg" class="img-fluid" alt="slider-image" />
              </a>
              <div class="category-widget-content">
                <h5>Transport &amp; Logistique</h5>
                <p class="mb-0">Faites bouger vos projets</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="project-by-category-widget">
              <a [routerLink]="routes.projectList" class="category-widget-img">
                <img src="assets/img/slider/category-img-5.jpg" class="img-fluid" alt="slider-image" />
              </a>
              <div class="category-widget-content">
                <h5>Entretien &amp; Nettoyage</h5>
                <p class="mb-0">Propreté et performance</p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="home-five-section-btn">
          <a [routerLink]="routes.projectList" class="btn btn-primary">Voir toutes les Catégories</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section projects">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 mx-auto text-center">
        <div class="section-header aos aos-init aos-animate" data-aos="fade-up">
          <h2 class="header-title">Besoin d’un renfort rapidement ?</h2>
          <p>
            Intérim-Online est là pour vous aider à trouver le bon profil au bon
            moment.
          </p>
        </div>
      </div>
    </div>
    <div class="row row-gap">
      <!-- Feature Item -->
      <div class="col-xl-3 col-md-6 aos d-flex aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000">
        <div class="feature-items">
          <div class="feature-icon">
            <img src="assets/img/icon/great1.svg" class="img-fluid" alt="Img" />
          </div>
          <div class="feature-content course-count">
            <h3>Consultez les Profils</h3>
            <p>
              Trouvez le bon candidat en explorant les fiches profils complètes
              avec CV, compétences et expérience.
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Item -->

      <!-- Feature Item -->
      <div class="col-xl-3 col-md-6 aos d-flex aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1500">
        <div class="feature-items">
          <div class="feature-icon">
            <img src="assets/img/icon/great2.svg" class="img-fluid" alt="Img" />
          </div>
          <div class="feature-content course-count">
            <h3>Réponse Rapide</h3>
            <p>
              Recevez des candidatures ciblées en quelques heures grâce à notre
              matching IA intelligent.
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Item -->

      <!-- Feature Item -->
      <div class="col-xl-3 col-md-6 aos d-flex aos-init aos-animate" data-aos="zoom-in" data-aos-duration="2000">
        <div class="feature-items">
          <div class="feature-icon">
            <img src="assets/img/icon/great3.svg" class="img-fluid" alt="Img" />
          </div>
          <div class="feature-content course-count">
            <h3>Candidats Qualifiés</h3>
            <p>
              Notre vivier d’intérimaires est pré-qualifié, disponible et suivi
              par nos équipes expertes.
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Item -->

      <!-- Feature Item -->
      <div class="col-xl-3 col-md-6 aos d-flex aos-init aos-animate" data-aos="zoom-in" data-aos-duration="2500">
        <div class="feature-items">
          <div class="feature-icon">
            <img src="assets/img/icon/great4.svg" class="img-fluid" alt="Img" />
          </div>
          <div class="feature-content course-count">
            <h3>Suivi en temps réel</h3>
            <p>
              Suivez l’évolution de vos offres et missions depuis votre tableau
              de bord entreprise.
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Item -->
    </div>
  </div>
</section>

<!-- Popular Projects -->
<section class="section popular-projects-job">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 mx-auto text-center">
        <div class="section-header aos aos-init aos-animate" data-aos="fade-up">
          <h2 class="header-title">Projets populaires près de chez vous</h2>
          <p>Postulez et démarrez de nouvelles missions</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!--- Project Item  -->
      <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
        <div class="project-item project-popular-item aos" data-aos="fade-up">
          <div class="project-img">
            <a [routerLink]="routes.projectList"><img src="assets/img/project/project-35.jpg" alt="Img"
                class="img-fluid" /></a>
          </div>
          <div class="feature-content">
            <h4>
              <a [routerLink]="routes.projectList">Maçon Traditionnel (H/F) - Paris 13</a>
            </h4>
            <ul class="feature-project-list nav">
              <li><i class="feather icon-user me-1"></i>Bâtiment</li>
              <li>A Partir de : 34000 €</li>
            </ul>
          </div>
        </div>
      </div>
      <!--- /Project Item  -->

      <!--- Project Item  -->
      <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
        <div class="project-item project-popular-item aos" data-aos="fade-up">
          <div class="project-img">
            <a [routerLink]="routes.projectList"><img src="assets/img/project/project-36.jpg" alt="Img"
                class="img-fluid" /></a>
          </div>
          <div class="feature-content">
            <h4>
              <a [routerLink]="routes.projectList">Développeur PHP Symfony (H/F) - Lyon</a>
            </h4>
            <ul class="feature-project-list nav">
              <li><i class="feather icon-user me-1"></i>Développeur Web</li>
              <li>A partir de : 45000 €</li>
            </ul>
          </div>
        </div>
      </div>
      <!--- /Project Item  -->

      <!--- Project Item  -->
      <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
        <div class="project-item project-popular-item aos" data-aos="fade-up">
          <div class="project-img">
            <a [routerLink]="routes.projectList"><img src="assets/img/project/project-37.png" alt="Img"
                class="img-fluid" /></a>
          </div>
          <div class="feature-content">
            <h4>
              <a [routerLink]="routes.projectList">Responsable Exploitation Régional Ouest H/F
              </a>
            </h4>
            <ul class="feature-project-list nav">
              <li>
                <i class="feather icon-user me-1"></i>Transport &amp; Logistique
              </li>
              <li>A partir de : 42000 €</li>
            </ul>
          </div>
        </div>
      </div>
      <!--- /Project Item  -->
      <div class="col-md-12">
        <div class="home-five-section-btn">
          <a [routerLink]="routes.projectList" class="btn btn-primary">Voir Plus d'Offres</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Popular Projects -->

<section class="section review">
  <div class="container">
    <div class="row">
      <div class="demand-professional">
        <h2>
          Des milliers de professionnels qualifiés disponibles à la demande
        </h2>
        <p>
          Grâce à notre plateforme d'intérim en ligne, vous pouvez rapidement
          accéder à un large choix de profils qualifiés dans divers secteurs.
          Que vous ayez besoin de compétences spécifiques pour une mission
          ponctuelle ou d’un professionnel pour une tâche à long terme, vous
          trouverez les bons talents quand vous en avez besoin. Recrutez en
          toute flexibilité, selon vos exigences.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="work-set-image">
          <img src="assets/img/work4.png" alt="Img" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aos" data-aos="fade-up">
          <div class="demand-post-job">
            <div class="demand-post-img">
              <img src="assets/img/icon/recent-icon-04.svg" alt="Img" class="img-fluid" />
            </div>
            <div class="demand-content">
              <h6>Publier une mission</h6>
              <p>
                Il vous suffit de quelques clics pour publier une mission
                intérim sur notre plateforme. Décrivez les compétences requises,
                le lieu et la durée de la mission, et votre annonce sera
                diffusée auprès de professionnels qualifiés. Cette solution
                simple vous permet de rapidement capter l'attention des bons
                candidats, et ce, sans tracas administratifs.
              </p>
            </div>
          </div>
          <div class="demand-post-job">
            <div class="demand-post-img">
              <img src="assets/img/icon/recent-icon-05.svg" alt="Img" class="img-fluid" />
            </div>
            <div class="demand-content">
              <h6>Recevez des profils ciblés</h6>
              <p>
                Une fois votre mission publiée, vous recevrez immédiatement des
                candidatures correspondant aux critères de votre annonce. Notre
                système intelligent filtre et sélectionne les profils en
                fonction de vos besoins spécifiques, vous offrant une sélection
                de talents pertinents pour chaque mission. Vous pouvez également
                inviter directement les candidats qui vous intéressent à
                soumettre leur candidature.
              </p>
            </div>
          </div>
          <div class="demand-post-job">
            <div class="demand-post-img">
              <img src="assets/img/icon/recent-icon-06.svg" alt="Img" class="img-fluid" />
            </div>
            <div class="demand-content">
              <h6>Gérez votre mission efficacement</h6>
              <p>
                Avec notre tableau de bord interactif, gérez vos missions
                intérim en toute simplicité. Vous pouvez suivre l’avancement des
                tâches, échanger directement avec les candidats et ajuster les
                missions en fonction de l’évolution de vos besoins. Nos outils
                de gestion vous permettent de rester organisé et de garantir la
                réussite de chaque mission.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="demand-post-job mt-3">
        <div class="demand-post-img">
          <img src="assets/img/icon/announce-icon.svg" alt="Img" class="img-fluid" />
        </div>
        <div class="demand-content">
          <h6>
            Des annonces entièrement personnalisables pour les entreprises
          </h6>
          <p>
            Les annonces que vous publiez sont entièrement modulables et peuvent
            être adaptées selon vos attentes spécifiques. Vous pouvez
            personnaliser les descriptions des missions, les critères des
            candidats et les informations de contact pour assurer une visibilité
            maximale et attirer les profils les plus adaptés à vos besoins.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Marketplace -->
<section class="section market-place-join">
  <div class="container">
    <div class="market-place-bg">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <div class="join-market-world aos" data-aos="fade-up">
            <h2>
              Rejoignez la meilleure place de marché pour les talents du
              numérique
            </h2>
            <p>
              Pourquoi recruter en interne quand vous pouvez simplement intégrer
              notre force de travail qualifiée à la demande ?
            </p>
            <div class="market-place-btn bidding-btn">
              <a [routerLink]="routes.projectList" class="btn btn-primary market-project me-2">Créer Offre</a>
              <a [routerLink]="routes.projectList" class="btn btn-primary project-post">Commencez à postuler</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="join-platform-img aos" data-aos="fade-up">
            <img src="assets/img/platform-img1.png" alt="Img" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Marketplace -->

<!-- FAQ -->
<section class="faq-section-three" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 mx-auto text-center">
        <div class="section-header aos aos-init aos-animate" data-aos="fade-up">
          <h2 class="header-title">Foire Aux Questions</h2>
          <p>
            Retrouvez ici les réponses aux questions les plus courantes des
            utilisateurs.
          </p>
        </div>
      </div>
    </div>
    <div class="row" id="accordionExample">
      <div class="col-lg-12">
        <div class="faq-card aos" data-aos="fade-up">
          <h4 class="faq-title">
            <a class="collapseds active" data-bs-toggle="collapse" href="#faqOne" aria-expanded="true">1. Comment
              postuler à une mission sur Intérim-Online ?</a>
          </h4>
          <div id="faqOne" class="card-collapse collapse show" data-bs-parent="#accordionExample">
            <p>
              Une fois inscrit, vous pouvez importer votre CV, compléter votre
              profil et cliquer sur "Postuler" sur les missions qui vous
              correspondent.
            </p>
          </div>
        </div>
        <div class="faq-card aos" data-aos="fade-up">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqtwo" aria-expanded="false">2. L’inscription
              est-elle gratuite pour les candidats ?</a>
          </h4>
          <div id="faqtwo" class="card-collapse collapse" data-bs-parent="#accordionExample">
            <p>
              Oui, l’inscription et l’accès aux offres sont 100 % gratuits pour
              les intérimaires.
            </p>
          </div>
        </div>
        <div class="faq-card aos" data-aos="fade-up">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqthree" aria-expanded="false">3. Comment fonctionne
              le matching IA ?</a>
          </h4>
          <div id="faqthree" class="card-collapse collapse" data-bs-parent="#accordionExample">
            <p>
              Notre système compare automatiquement votre profil aux missions
              disponibles et affiche le taux de correspondance.
            </p>
          </div>
        </div>
        <div class="faq-card aos" data-aos="fade-up">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqfour" aria-expanded="false">4. Comment les
              entreprises trouvent-elles mon profil ?</a>
          </h4>
          <div id="faqfour" class="card-collapse collapse" data-bs-parent="#accordionExample">
            <p>
              Les recruteurs peuvent consulter les profils proposés par l’IA et
              visualiser votre fiche candidat.
            </p>
          </div>
        </div>
        <div class="faq-card aos" data-aos="fade-up">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqfive" aria-expanded="false">5. Puis-je postuler à
              plusieurs offres à la fois ?</a>
          </h4>
          <div id="faqfive" class="card-collapse collapse" data-bs-parent="#accordionExample">
            <p>
              Oui, vous pouvez postuler à toutes les offres qui vous
              intéressent. Vous serez notifié si un recruteur sélectionne votre
              profil.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /FAQ -->

<!-- Counter -->
<section class="section feature-count feature-count-three">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 mx-auto text-center">
        <div class="section-header aos aos-init aos-animate" data-aos="fade-up">
          <h2 class="header-title">Achievement We Have Earned</h2>
          <p>
            At Freelancer, we believe that talent is borderless and opportunity
            should be too.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Counter -->

<div class="count-sec">
  <div class="container">
    <div class="row">
      <!-- Feature Item -->
      <div class="col-xl-3 col-md-6">
        <div class="feature-item freelance-count aos aos-init aos-animate" data-aos="fade-up">
          <div class="feature-icon">
            <img src="assets/img/icon/count-icon-01.svg" class="img-fluid" alt="Img" />
          </div>
          <div class="feature-content course-count">
            <h3 class="counter-up" [countUp]="9207" [options]="{ enableScrollSpy: true }">
              0
            </h3>
            <p>Candidats inscrits</p>
          </div>
        </div>
      </div>
      <!-- /Feature Item -->

      <!-- Feature Item -->
      <div class="col-xl-3 col-md-6">
        <div class="feature-item aos aos-init aos-animate" data-aos="fade-up">
          <div class="feature-icon">
            <img src="assets/img/icon/count-icon-02.svg" class="img-fluid" alt="Img" />
          </div>
          <div class="feature-content course-count">
            <h3>
              <span class="counter-up" [countUp]="6000" [options]="{ enableScrollSpy: true }">0</span>
            </h3>
            <p>Missions publiées</p>
          </div>
        </div>
      </div>
      <!-- /Feature Item -->

      <!-- Feature Item -->
      <div class="col-xl-3 col-md-6">
        <div class="feature-item comp-project aos aos-init aos-animate" data-aos="fade-up">
          <div class="feature-icon">
            <img src="assets/img/icon/count-icon-03.svg" class="img-fluid" alt="Img" />
          </div>
          <div class="feature-content course-count">
            <h3 class="counter-up" [countUp]="919207" [options]="{ enableScrollSpy: true }">
              0
            </h3>
            <p>Missions réalisées avec succès</p>
          </div>
        </div>
      </div>
      <!-- /Feature Item -->

      <!-- Feature Item -->
      <div class="col-xl-3 col-md-6">
        <div class="feature-item comp-project aos aos-init aos-animate" data-aos="fade-up">
          <div class="feature-icon">
            <img src="assets/img/icon/count-icon-04.svg" class="img-fluid" alt="Img" />
          </div>
          <div class="feature-content course-count">
            <h3 class="counter-up" [countUp]="998" [options]="{ enableScrollSpy: true }">
              0
            </h3>
            <p>Entreprises partenaires</p>
          </div>
        </div>
      </div>
      <!-- /Feature Item -->
    </div>
  </div>
</div>

<!-- Review -->
<section class="section review-five">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 mx-auto">
        <div class="section-header text-center aos" data-aos="fade-up">
          <h2 class="header-title">Avis clients</h2>
          <p>
            Ils nous font confiance et reviennent pour nos services sur
            Intérim-Online
          </p>
        </div>
      </div>
    </div>
    <div class="offset-xl-1 col-xl-10">
      <div class="slid-review-group">
        <ngx-slick-carousel class="slider say-about slider-for aos" #slickModal="slick-carousel" [config]="slideConfig">
          @for ( item of images; track item) {
          <div ngxSlickItem>
            <div class="testimonial-all d-flex justify-content-center">
              <div class="row">
                <div class="col-md-3">
                  <div class="img-reviews">
                    <div class="review-quote">
                      <img src="{{ item.img }}" alt="" />
                    </div>
                    <img src="{{ item.img1 }}" alt="" />
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="testimonial-two-head">
                    <h3>{{ item.name }}</h3>
                    <span>{{ item.domain }}</span>
                    <p>"{{ item.para }}"</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </ngx-slick-carousel>
        <ngx-slick-carousel #slickModal="slick-carousel" class="slider client-img slider-nav aos"
          [config]="slideConfig2">
          @for ( item of images; track item) {
          <div ngxSlickItem>
            <div class="testimonial-thumb">
              <img src="{{ item.img1 }}" alt="" />
            </div>
          </div>
          }
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!-- Review -->

<!-- Opportunity -->
<section class="section job-registers">
  <div class="container position-relative job-register">
    <div class="float-img">
      <img src="assets/img/opportunity.png" alt="img" />
    </div>
    <div class="row">
      <div class="col-12">
        <div class="register-job-blk">
          <div class="job-content-blk aos aos-init aos-animate" data-aos="fade-up">
            <h2>Trouvez votre prochaine mission</h2>
            <p>
              Inscrivez-vous, importez votre CV, et laissez notre IA vous
              proposer les offres qui vous correspondent vraiment.
            </p>
            <a [routerLink]="routes.register" class="btn all-btn">Rejoinez-vous</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>