<div class="page-title">
  <div class="row">
    <div class="col-md-6">
      <h3>Toutes les offres</h3>
    </div>
  </div>
</div>

<!-- project list -->
<div class="my-projects-list ongoing-projects" *ngIf="jobOffers.length > 0">
  <div class="row" *ngFor="let jobOffer of jobOffers">
    <div class="col-xl-12 flex-wrap mt-2">
      <div class="freelancer-proposals proposal-ongoing mb-0">
        <div class="project-proposals align-items-center freelancer">
          <div class="proposal-info">
            <div class="proposals-details">
              <span class="tech-name-badge">{{ jobOffer?.job?.name }}</span>
              <div class="d-flex justify-content-between align-items-start">
                <div class="employee-project-card">
                  <h3 class="proposals-title">
                    {{ jobOffer?.title }}
                  </h3>
                  <ul>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">type Contrat</h4>
                        <h3>{{ jobOffer?.contractType?.description }}</h3>
                      </div>
                    </li>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">Location</h4>
                        <h3>
                          {{ jobOffer?.city?.name }}
                        </h3>
                      </div>
                    </li>
                    <li>
                      <div class="proposal-job-type">
                        <h4 class="title-info">Duree</h4>
                        <h3>
                          {{ jobOffer?.expectedDuration }}
                          {{ jobOffer?.timeUnit }}
                        </h3>
                      </div>
                    </li>
                    <li *ngIf="jobOffer?.publicationDate">
                      <div class="proposal-job-type">
                        <h4 class="title-info">Date de publication</h4>
                        <h3>
                          {{ formatDate(jobOffer?.publicationDate) }}
                        </h3>
                      </div>
                    </li>
                  </ul>
                </div>
                <ul class="employee-project">
                  <li>
                    <div class="project-action text-center">
                      <a
                        href="javascript:void(0);"
                        *ngIf="jobOffer?.status?.name !== 'Closed'"
                        [routerLink]="routes.matching_project(jobOffer.id)"
                        class="projects-btn"
                        >Matching IA</a
                      >
                      <a
                        [routerLink]="
                          routes.get_employee_project_details(jobOffer.id)
                        "
                        href="javascript:void(0);"
                        class="mb-0 projects-btn"
                        >Plus de Details</a
                      >

                      <a
                        *ngIf="jobOffer?.status?.name === 'Closed'"
                        href="javascript:void(0);"
                        class="projects-btn-x"
                        >fermée</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /project list -->

<div class="no-project-message" *ngIf="jobOffers.length === 0">
  <h4>Vous n'avez pas encore de projet.</h4>
</div>
<!-- pagination -->
<div class="row" *ngIf="jobOffers.length > 0">
  <div class="col-md-12">
    <ul class="paginations list-pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a
          (click)="changePage(currentPage - 1)"
          [class.disabled]="currentPage === 1"
        >
          <i class="feather icon-chevron-left"></i>
        </a>
      </li>

      @for (page of getPageNumbers(); track page) {
      <li class="page-item">
        <a (click)="changePage(page)" [class.active]="currentPage === page">
          {{ page }}
        </a>
      </li>
      }

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a
          (click)="changePage(currentPage + 1)"
          [class.disabled]="currentPage === totalPages"
        >
          <i class="feather icon-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /pagination -->
