.card.filter-card {
  display: none;
  transition: all 0.3s ease;
}

.card.filter-card.filter-show {
  display: block;
}

.subscribe-employe .users-list ul li a {
  color: #000;
  text-decoration: none;
}

.selected {
  padding: 10px;
  background: white !important;
  color: #179ab5 !important;
  border-bottom: 2px solid #e65425 !important;
}
.action {
  margin: 0 !important;
  padding: 0 !important;
}
