.print-content {
  background-color: white;
  color: black;
  padding: 20px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.loading-text {
  margin-left: 5px;
  font-size: 12px;
  color: #666;
}
